In [1]:
import pandas as pd

In [2]:
mapping_fnl_기업정보상세 = pd.read_csv('C:/Users/DMC CONET/Downloads/연재최종본/mapping_fnl_기업정보상세.csv', encoding='cp949')
mapping_fnl_기업정보상세

,Unnamed: 0,사업자등록번호,사업자등록번호_마스킹,순번,조사년도,재무보고서구분코드,재무보고서명칭,상세구분코드,상세구분명칭,재무제표기준년월,...,업태명,상태발생일자,CRI등급,CRI기준일,결산일자,매출액,영업이익,자본총계금액,부채총계금액,자산총계금액
0,0,1240440311,1240400001,1,2017.0,1,재무상태표,anly,분석형,NaN,...,도소매업,NaN,C2,20211130.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1240440311,1240400001,2,2018.0,1,재무상태표,anly,분석형,NaN,...,도소매업,NaN,C2,20211130.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1240440311,1240400001,3,2020.0,1,재무상태표,anly,분석형,NaN,...,도소매업,NaN,C2,20211130.0,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1240440311,1240400001,4,2017.0,2,손익계산서,anly,분석형,NaN,...,도소매업,NaN,C2,20211130.0,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1240440311,1240400001,5,2018.0,2,손익계산서,anly,분석형,NaN,...,도소매업,NaN,C2,20211130.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1611575,1611575,5088108126,5088109998,245,2020.0,1,재무상태표,NaN,NaN,202012.0,...,건설업/서비스,NaN,B2,20220315.0,20201231.0,8649570.0,255490.0,1788310.0,375368.0,2163678.0
1611576,1611576,5088108126,5088109998,246,2020.0,1,재무상태표,NaN,NaN,202012.0,...,건 설 업,NaN,B1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1611577,1611577,5088108126,5088109998,246,2020.0,1,재무상태표,NaN,NaN,202012.0,...,건설업/서비스,NaN,B2,20220315.0,20201231.0,8649570.0,255490.0,1788310.0,375368.0,2163678.0
1611578,1611578,5088108126,5088109998,247,2020.0,1,재무상태표,NaN,NaN,202012.0,...,건 설 업,NaN,B1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1611579,1611579,5088108126,5088109998,247,2020.0,1,재무상태표,NaN,NaN,202012.0,...,건설업/서비스,NaN,B2,20220315.0,20201231.0,8649570.0,255490.0,1788310.0,375368.0,2163678.0

mapping_fnl_기업정보상세.columns

In [3]:
mapping_fnl_기업정보상세.columns

Index(['Unnamed: 0', '사업자등록번호', '사업자등록번호_마스킹', '순번', '조사년도', '재무보고서구분코드',
       '재무보고서명칭', '상세구분코드', '상세구분명칭', '재무제표기준년월', '재무제표계정과목코드', '재무제표계정과목명',
       '재무제표계정과목금액', '구성비율', '증감율', '작업구분코드', '종업원수', '산업분류코드', '산업분류코드설명',
       '기업규모', '기업형태', '업태명', '상태발생일자', 'CRI등급', 'CRI기준일', '결산일자', '매출액',
       '영업이익', '자본총계금액', '부채총계금액', '자산총계금액'],
      dtype='object')

In [4]:
mapping_fnl_기업정보상세.pivot_table(index='사업자등록번호_마스킹',columns='재무제표계정과목명', values='재무제표계정과목금액')

재무제표계정과목명,노무비,당기순이익(손실),당좌부채(당좌차월),당좌자산,대손상각비,매출액,매출원가,매출채권,매출총이익,법인세비용,...,인건비,자본잉여금,자본총계,자산총계,재고자산,제조경비,제조원가,투자자산,판매비와관리비,회사채
사업자등록번호_마스킹,,,,,,,,,,,,,,,,,,,,,
1010109319,NaN,1.609200e+04,NaN,1.077333e+03,NaN,1.889813e+05,1.346637e+05,NaN,5.431800e+04,NaN,...,6.244500e+03,NaN,-1.085633e+04,3.004000e+03,1.926667e+03,NaN,NaN,NaN,4.075300e+04,NaN
1014007449,2.725183e+05,6.603675e+04,NaN,1.333792e+05,0.0,6.546852e+05,5.494617e+05,7.355767e+04,2.425892e+05,NaN,...,5.663725e+04,NaN,-2.581825e+04,1.404048e+05,1.405100e+04,2.140067e+05,5.564590e+05,0.0,1.759982e+05,NaN
1018100030,NaN,-1.461701e+07,NaN,4.789630e+07,NaN,2.637448e+06,1.466559e+06,7.181438e+05,1.170889e+06,-5.442762e+05,...,2.531161e+06,83839316.2,3.348491e+07,5.606900e+07,4.991258e+05,NaN,NaN,3810551.4,1.597316e+07,NaN
1018100111,3.166049e+06,2.685635e+06,NaN,1.572564e+07,-4368.6,2.164053e+07,9.873321e+06,4.853108e+06,1.571653e+07,4.820828e+05,...,5.081755e+06,86688.0,1.392743e+07,2.328780e+07,NaN,6.707272e+06,9.873321e+06,2373579.4,1.245041e+07,NaN
1018100198,NaN,7.252960e+06,NaN,7.413052e+07,162442.8,7.645734e+07,3.757918e+07,2.192387e+06,3.887816e+07,2.294611e+06,...,1.501529e+07,14740405.4,4.917140e+07,1.065018e+08,2.319159e+06,NaN,NaN,14421924.2,2.850032e+07,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8968801450,NaN,-9.379540e+05,NaN,2.276852e+05,89.5,6.215980e+05,0.000000e+00,1.199250e+04,6.215980e+05,7.300000e+01,...,9.072610e+05,NaN,2.353285e+05,1.374194e+06,0.000000e+00,NaN,NaN,464875.0,1.461232e+06,NaN
8998705196,NaN,2.417933e+04,NaN,7.241633e+04,NaN,1.086522e+06,NaN,1.145800e+04,1.086522e+06,5.286667e+02,...,1.330777e+05,NaN,3.699900e+04,1.114527e+05,NaN,NaN,NaN,NaN,1.066498e+06,NaN
8998707411,6.000000e+02,-3.433296e+05,NaN,2.475754e+05,NaN,7.003350e+04,3.835375e+04,2.918050e+04,3.167975e+04,NaN,...,1.863744e+05,629405.6,-2.530452e+05,9.080814e+05,1.780000e+04,3.492767e+04,4.894367e+04,NaN,3.471764e+05,NaN
8998708313,5.087456e+05,9.578820e+04,NaN,8.449332e+05,6454.6,4.616605e+06,4.330519e+06,6.389986e+05,2.860858e+05,1.054000e+03,...,1.282988e+05,NaN,6.847074e+05,1.052084e+06,3.623100e+04,2.606104e+06,5.919159e+06,NaN,1.935964e+05,NaN
8998803795,NaN,-7.245516e+05,NaN,2.659798e+06,0.0,6.763758e+05,0.000000e+00,9.383000e+04,6.763758e+05,NaN,...,4.139966e+05,4608659.0,2.773390e+06,2.857562e+06,0.000000e+00,NaN,NaN,77447.0,1.360326e+06,NaN

In [5]:
mapping_fnl_기업정보상세 = pd.read_csv('C:/Users/DMC CONET/Downloads/연재최종본/mapping_fnl_기업정보상세.csv', encoding='cp949')

In [6]:
mapping_fnl_기업정보상세.shape # (1611580, 31)

(1611580, 31)

In [7]:
mapping_fnl_기업정보상세.pivot_table(index='사업자등록번호_마스킹',columns='재무제표계정과목명', values='재무제표계정과목금액')

재무제표계정과목명,노무비,당기순이익(손실),당좌부채(당좌차월),당좌자산,대손상각비,매출액,매출원가,매출채권,매출총이익,법인세비용,...,인건비,자본잉여금,자본총계,자산총계,재고자산,제조경비,제조원가,투자자산,판매비와관리비,회사채
사업자등록번호_마스킹,,,,,,,,,,,,,,,,,,,,,
1010109319,NaN,1.609200e+04,NaN,1.077333e+03,NaN,1.889813e+05,1.346637e+05,NaN,5.431800e+04,NaN,...,6.244500e+03,NaN,-1.085633e+04,3.004000e+03,1.926667e+03,NaN,NaN,NaN,4.075300e+04,NaN
1014007449,2.725183e+05,6.603675e+04,NaN,1.333792e+05,0.0,6.546852e+05,5.494617e+05,7.355767e+04,2.425892e+05,NaN,...,5.663725e+04,NaN,-2.581825e+04,1.404048e+05,1.405100e+04,2.140067e+05,5.564590e+05,0.0,1.759982e+05,NaN
1018100030,NaN,-1.461701e+07,NaN,4.789630e+07,NaN,2.637448e+06,1.466559e+06,7.181438e+05,1.170889e+06,-5.442762e+05,...,2.531161e+06,83839316.2,3.348491e+07,5.606900e+07,4.991258e+05,NaN,NaN,3810551.4,1.597316e+07,NaN
1018100111,3.166049e+06,2.685635e+06,NaN,1.572564e+07,-4368.6,2.164053e+07,9.873321e+06,4.853108e+06,1.571653e+07,4.820828e+05,...,5.081755e+06,86688.0,1.392743e+07,2.328780e+07,NaN,6.707272e+06,9.873321e+06,2373579.4,1.245041e+07,NaN
1018100198,NaN,7.252960e+06,NaN,7.413052e+07,162442.8,7.645734e+07,3.757918e+07,2.192387e+06,3.887816e+07,2.294611e+06,...,1.501529e+07,14740405.4,4.917140e+07,1.065018e+08,2.319159e+06,NaN,NaN,14421924.2,2.850032e+07,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8968801450,NaN,-9.379540e+05,NaN,2.276852e+05,89.5,6.215980e+05,0.000000e+00,1.199250e+04,6.215980e+05,7.300000e+01,...,9.072610e+05,NaN,2.353285e+05,1.374194e+06,0.000000e+00,NaN,NaN,464875.0,1.461232e+06,NaN
8998705196,NaN,2.417933e+04,NaN,7.241633e+04,NaN,1.086522e+06,NaN,1.145800e+04,1.086522e+06,5.286667e+02,...,1.330777e+05,NaN,3.699900e+04,1.114527e+05,NaN,NaN,NaN,NaN,1.066498e+06,NaN
8998707411,6.000000e+02,-3.433296e+05,NaN,2.475754e+05,NaN,7.003350e+04,3.835375e+04,2.918050e+04,3.167975e+04,NaN,...,1.863744e+05,629405.6,-2.530452e+05,9.080814e+05,1.780000e+04,3.492767e+04,4.894367e+04,NaN,3.471764e+05,NaN
8998708313,5.087456e+05,9.578820e+04,NaN,8.449332e+05,6454.6,4.616605e+06,4.330519e+06,6.389986e+05,2.860858e+05,1.054000e+03,...,1.282988e+05,NaN,6.847074e+05,1.052084e+06,3.623100e+04,2.606104e+06,5.919159e+06,NaN,1.935964e+05,NaN
8998803795,NaN,-7.245516e+05,NaN,2.659798e+06,0.0,6.763758e+05,0.000000e+00,9.383000e+04,6.763758e+05,NaN,...,4.139966e+05,4608659.0,2.773390e+06,2.857562e+06,0.000000e+00,NaN,NaN,77447.0,1.360326e+06,NaN

In [8]:
mapping_fnl_기업정보상세.columns

Index(['Unnamed: 0', '사업자등록번호', '사업자등록번호_마스킹', '순번', '조사년도', '재무보고서구분코드',
       '재무보고서명칭', '상세구분코드', '상세구분명칭', '재무제표기준년월', '재무제표계정과목코드', '재무제표계정과목명',
       '재무제표계정과목금액', '구성비율', '증감율', '작업구분코드', '종업원수', '산업분류코드', '산업분류코드설명',
       '기업규모', '기업형태', '업태명', '상태발생일자', 'CRI등급', 'CRI기준일', '결산일자', '매출액',
       '영업이익', '자본총계금액', '부채총계금액', '자산총계금액'],
      dtype='object')

In [9]:
산업분류표 = pd.read_csv('./big/csv_data/한국표준산업분류표.csv', header=1)
final_data = pd.read_csv('C:/Users/DMC CONET/Bigdata_idea/big/csv_data/최종데이터_221201.csv', encoding='cp949')

C:\Users\DMC CONET\AppData\Local\Temp\ipykernel_2480\1709821648.py:2: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  final_data = pd.read_csv('C:/Users/DMC CONET/Bigdata_idea/big/csv_data/최종데이터_221201.csv', encoding='cp949')

In [10]:
산업분류표[['중분류(77)', 'Unnamed: 3', '소분류(232)', 'Unnamed: 5']]

,중분류(77),Unnamed: 3,소분류(232),Unnamed: 5
0,코드,항목명,코드,항목명
1,01,농업,011,작물 재배업
2,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN
...,...,...,...,...
1193,97,가구 내 고용활동,970,가구 내 고용활동
1194,98,달리 분류되지 않은 자가 소비를 위한 가구의 재화 및 서비스 생산활동,981,자가 소비를 위한 가사 생산 활동
1195,NaN,NaN,982,자가 소비를 위한 가사 서비스 활동
1196,99,국제 및 외국기관,990,국제 및 외국기관
1197,NaN,NaN,NaN,NaN

In [11]:
산업분류표.head()

,대분류(21),Unnamed: 1,중분류(77),Unnamed: 3,소분류(232),Unnamed: 5,세분류(495),Unnamed: 7,"세세분류(1,196)",Unnamed: 9
0,코드,항목명,코드,항목명,코드,항목명,코드,항목명,코드,항목명
1,A,"농업, 임업 및 어업(01~03)",01,농업,011,작물 재배업,0111,곡물 및 기타 식량작물 재배업,01110,곡물 및 기타 식량작물 재배업
2,NaN,NaN,NaN,NaN,NaN,NaN,0112,"채소, 화훼작물 및 종묘 재배업",01121,채소작물 재배업
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01122,화훼작물 재배업
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01123,종자 및 묘목 생산업

In [12]:
final_data[['산업분류코드']].value_counts().index.tolist()

[(58222.0,),
 (62010.0,),
 (62021.0,),
 (42321.0,),
 (42320.0,),
 (58221.0,),
 (58220.0,),
 (41220.0,),
 (41229.0,),
 (42322.0,),
 (26410.0,),
 (62090.0,),
 (58200.0,),
 (42311.0,),
 (46522.0,),
 (62020.0,),
 (42310.0,),
 (26429.0,),
 (42201.0,),
 (63991.0,),
 (42132.0,),
 (42420.0,),
 (46510.0,),
 (42121.0,),
 (63999.0,),
 (63120.0,),
 (41100.0,),
 (42209.0,),
 (42200.0,),
 (42202.0,),
 (71310.0,),
 (42412.0,),
 (41200.0,),
 (71531.0,),
 (26420.0,),
 (41121.0,),
 (20423.0,),
 (42500.0,),
 (41225.0,),
 (26400.0,),
 (42204.0,),
 (42139.0,),
 (47911.0,),
 (42491.0,),
 (41120.0,),
 (42300.0,),
 (42492.0,),
 (58211.0,),
 (47919.0,),
 (26421.0,),
 (62000.0,),
 (41000.0,),
 (26299.0,),
 (42130.0,),
 (59114.0,),
 (61210.0,),
 (72129.0,),
 (58113.0,),
 (42131.0,),
 (75992.0,),
 (41221.0,),
 (46520.0,),
 (42110.0,),
 (27199.0,),
 (21210.0,),
 (41112.0,),
 (63111.0,),
 (46443.0,),
 (42411.0,),
 (59110.0,),
 (42120.0,),
 (42410.0,),
 (26310.0,),
 (46441.0,),
 (42134.0,),
 (42137.0,),
 (41111.0,),
 (75999.0,),
 (42312.0,),
 (42138.0,),
 (28909.0,),
 (59112.0,),
 (72120.0,),
 (26519.0,),
 (42400.0,),
 (41226.0,),
 (58219.0,),
 (10797.0,),
 (70209.0,),
 (41129.0,),
 (73209.0,),
 (46799.0,),
 (59113.0,),
 (72111.0,),
 (58121.0,),
 (20422.0,),
 (41110.0,),
 (42122.0,),
 (74100.0,),
 (71530.0,),
 (85709.0,),
 (42123.0,),
 (46595.0,),
 (26000.0,),
 (29299.0,),
 (73203.0,),
 (26121.0,),
 (10799.0,),
 (41222.0,),
 (47912.0,),
 (59120.0,),
 (46591.0,),
 (41210.0,),
 (63000.0,),
 (46592.0,),
 (70000.0,),
 (59111.0,),
 (46599.0,),
 (46621.0,),
 (58111.0,),
 (33910.0,),
 (41224.0,),
 (70113.0,),
 (46590.0,),
 (18119.0,),
 (26120.0,),
 (58210.0,),
 (61290.0,),
 (85503.0,),
 (28123.0,),
 (28519.0,),
 (70111.0,),
 (47310.0,),
 (29280.0,),
 (47312.0,),
 (59201.0,),
 (75990.0,),
 (46329.0,),
 (26529.0,),
 (61291.0,),
 (73202.0,),
 (26111.0,),
 (41122.0,),
 (60222.0,),
 (46413.0,),
 (10791.0,),
 (58212.0,),
 (42499.0,),
 (33401.0,),
 (61299.0,),
 (70129.0,),
 (27400.0,),
 (85699.0,),
 (75310.0,),
 (70121.0,),
 (23322.0,),
 (27112.0,),
 (30391.0,),
 (42136.0,),
 (14112.0,),
 (28110.0,),
 (42490.0,),
 (29180.0,),
 (42000.0,),
 (42203.0,),
 (63900.0,),
 (60210.0,),
 (73902.0,),
 (29170.0,),
 (76320.0,),
 (28903.0,),
 (28122.0,),
 (29271.0,),
 (26200.0,),
 (72919.0,),
 (75210.0,),
 (63990.0,),
 (14120.0,),
 (60221.0,),
 (46107.0,),
 (61000.0,),
 (33999.0,),
 (52991.0,),
 (60229.0,),
 (46521.0,),
 (46493.0,),
 (47400.0,),
 (63910.0,),
 (26290.0,),
 (28120.0,),
 (27219.0,),
 (27193.0,),
 (27192.0,),
 (42133.0,),
 (70119.0,),
 (25112.0,),
 (25922.0,),
 (68112.0,),
 (28202.0,),
 (29172.0,),
 (22232.0,),
 (20500.0,),
 (85302.0,),
 (46464.0,),
 (72121.0,),
 (29190.0,),
 (72122.0,),
 (62022.0,),
 (58110.0,),
 (30310.0,),
 (94900.0,),
 (15129.0,),
 (61220.0,),
 (94990.0,),
 (46800.0,),
 (73200.0,),
 (91199.0,),
 (58000.0,),
 (90191.0,),
 (20110.0,),
 (75919.0,),
 (32090.0,),
 (1123.0,),
 (47810.0,),
 (18110.0,),
 (25113.0,),
 (29169.0,),
 (28423.0,),
 (7110.0,),
 (46103.0,),
 (66199.0,),
 (27213.0,),
 (29173.0,),
 (16220.0,),
 (14194.0,),
 (13222.0,),
 (31111.0,),
 (27210.0,),
 (28119.0,),
 (85700.0,),
 (10502.0,),
 (26520.0,),
 (29162.0,),
 (29171.0,),
 (26510.0,),
 (76292.0,),
 (22220.0,),
 (29163.0,),
 (30399.0,),
 (31114.0,),
 (14190.0,),
 (18111.0,),
 (22192.0,),
 (28111.0,),
 (24191.0,),
 (72911.0,),
 (76390.0,),
 (58120.0,),
 (13213.0,),
 (46320.0,),
 (61200.0,),
 (29199.0,),
 (46102.0,),
 (29133.0,),
 (29175.0,),
 (26100.0,),
 (76310.0,),
 (27190.0,),
 (45100.0,),
 (42100.0,),
 (14490.0,),
 (10796.0,),
 (26320.0,),
 (28510.0,),
 (24112.0,),
 (32011.0,),
 (50112.0,),
 (23232.0,),
 (73201.0,),
 (17223.0,),
 (31322.0,),
 (10309.0,),
 (25921.0,),
 (85000.0,),
 (30320.0,),
 (10403.0,),
 (38311.0,),
 (27300.0,),
 (29150.0,),
 (85650.0,),
 (41223.0,),
 (76190.0,),
 (46721.0,),
 (22229.0,),
 (73901.0,),
 (20434.0,),
 (22292.0,),
 (42129.0,),
 (35114.0,),
 (14111.0,),
 (47300.0,),
 (26422.0,),
 (25990.0,),
 (52992.0,),
 (56110.0,),
 (47190.0,),
 (21300.0,),
 (29294.0,),
 (47811.0,),
 (30300.0,),
 (46109.0,),
 (46699.0,),
 (46593.0,),
 (35119.0,),
 (56100.0,),
 (46450.0,),
 (68121.0,),
 (33930.0,),
 (47129.0,),
 (20119.0,),
 (28511.0,),
 (71390.0,),
 (70100.0,),
 (46733.0,),
 (46319.0,),
 (15211.0,),
 (18200.0,),
 (59130.0,),
 (22240.0,),
 (27309.0,),
 (29229.0,),
 (46442.0,),
 (75120.0,),
 (41119.0,),
 (86909.0,),
 (71000.0,),
 (96995.0,),
 (27111.0,),
 (34020.0,),
 (38120.0,),
 (64919.0,),
 (46700.0,),
 (85501.0,),
 (75110.0,),
 (85640.0,),
 (47311.0,),
 (24132.0,),
 (47590.0,),
 (70120.0,),
 (46100.0,),
 (75320.0,),
 (10700.0,),
 (68122.0,),
 (84200.0,),
 (75993.0,),
 (20132.0,),
 (27301.0,),
 (28420.0,),
 (23221.0,),
 (13994.0,),
 (14191.0,),
 (47510.0,),
 (25914.0,),
 (26110.0,),
 (49301.0,),
 (23300.0,),
 (15120.0,),
 (46790.0,),
 (10730.0,),
 (94930.0,),
 (84210.0,),
 (28121.0,),
 (58122.0,),
 (20313.0,),
 (56190.0,),
 (29290.0,),
 (96119.0,),
 (47813.0,),
 (75121.0,),
 (20411.0,),
 (39009.0,),
 (71109.0,),
 (33309.0,),
 (31312.0,),
 (95120.0,),
 (29261.0,),
 (72920.0,),
 (46000.0,),
 (71600.0,),
 (38000.0,),
 (46690.0,),
 (21102.0,),
 (10759.0,),
 (68129.0,),
 (46530.0,),
 (46539.0,),
 (28901.0,),
 (71393.0,),
 (75900.0,),
 (73909.0,),
 (94931.0,),
 (47640.0,),
 (71400.0,),
 (59100.0,),
 (32029.0,),
 (27212.0,),
 (46499.0,),
 (56111.0,),
 (33931.0,),
 (64209.0,),
 (46420.0,),
 (33000.0,),
 (70201.0,),
 (17902.0,),
 (29000.0,),
 (46610.0,),
 (13300.0,),
 (26291.0,),
 (33400.0,),
 (70200.0,),
 (45219.0,),
 (46433.0,),
 (27215.0,),
 (84212.0,),
 (68110.0,),
 (58190.0,),
 (10712.0,),
 (94110.0,),
 (64121.0,),
 (66192.0,),
 (65110.0,),
 (64132.0,),
 (66202.0,),
 (49309.0,),
 (96910.0,),
 (25110.0,),
 (42600.0,),
 (63100.0,),
 (58100.0,)]

In [13]:
산업분류표.head().columns

Index(['대분류(21)', 'Unnamed: 1', '중분류(77)', 'Unnamed: 3', '소분류(232)',
       'Unnamed: 5', '세분류(495)', 'Unnamed: 7', '세세분류(1,196)', 'Unnamed: 9'],
      dtype='object')

In [20]:
산업분류표

,대분류(21),Unnamed: 1,중분류(77),Unnamed: 3,소분류(232),Unnamed: 5,세분류(495),Unnamed: 7,"세세분류(1,196)",Unnamed: 9
0,코드,항목명,코드,항목명,코드,항목명,코드,항목명,코드,항목명
1,A,"농업, 임업 및 어업(01~03)",01,농업,011,작물 재배업,0111,곡물 및 기타 식량작물 재배업,01110,곡물 및 기타 식량작물 재배업
2,NaN,NaN,NaN,NaN,NaN,NaN,0112,"채소, 화훼작물 및 종묘 재배업",01121,채소작물 재배업
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01122,화훼작물 재배업
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01123,종자 및 묘목 생산업
...,...,...,...,...,...,...,...,...,...,...
1193,T,가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동(97~98),97,가구 내 고용활동,970,가구 내 고용활동,9700,가구 내 고용활동,97000,가구 내 고용활동
1194,NaN,NaN,98,달리 분류되지 않은 자가 소비를 위한 가구의 재화 및 서비스 생산활동,981,자가 소비를 위한 가사 생산 활동,9810,자가 소비를 위한 가사 생산 활동,98100,자가 소비를 위한 가사 생산 활동
1195,NaN,NaN,NaN,NaN,982,자가 소비를 위한 가사 서비스 활동,9820,자가 소비를 위한 가사 서비스 활동,98200,자가 소비를 위한 가사 서비스 활동
1196,U,국제 및 외국기관(99),99,국제 및 외국기관,990,국제 및 외국기관,9900,국제 및 외국기관,99001,주한 외국 공관
1197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99009,기타 국제 및 외국기관

In [14]:

산업분류표
cc = 산업분류표[['소분류(232)', 'Unnamed: 5','중분류(77)','Unnamed: 3']].rename(columns={'소분류(232)' : '소분류코드', 'Unnamed: 5' : '소분류항목명','중분류(77)' : '중분류코드','Unnamed: 3' : '중분류항목명'})
산업분류표.shape, cc.shape

((1198, 10), (1198, 4))

In [15]:
cc

     소분류코드               소분류항목명 중분류코드                                  중분류항목명
0       코드                  항목명    코드                                     항목명
1      011               작물 재배업    01                                      농업
2      NaN                  NaN   NaN                                     NaN
3      NaN                  NaN   NaN                                     NaN
4      NaN                  NaN   NaN                                     NaN
...    ...                  ...   ...                                     ...
1193   970            가구 내 고용활동    97                               가구 내 고용활동
1194   981   자가 소비를 위한 가사 생산 활동    98  달리 분류되지 않은 자가 소비를 위한 가구의 재화 및 서비스 생산활동
1195   982  자가 소비를 위한 가사 서비스 활동   NaN                                     NaN
1196   990            국제 및 외국기관    99                               국제 및 외국기관
1197   NaN                  NaN   NaN                                     NaN

[1198 rows x 4 columns]

In [16]:
cc.columns

Index(['소분류코드', '소분류항목명', '중분류코드', '중분류항목명'], dtype='object')

In [17]:
# # 복사2 = 확정
# import time
# start = time.time()  # 시작 시간 저장


# final_data['중분류코드'] = '맵핑안됨' # dataframe 0 으로 밀어놈 == 나중에 update용도
# final_data['중분류항목명'] = '맵핑안됨' # dataframe 0 으로 밀어놈 == 나중에 update용도
# final_data['소분류코드'] = '맵핑안됨' # dataframe 0 으로 밀어놈 == 나중에 update용도
# final_data['소분류항목명'] = '맵핑안됨' # dataframe 0 으로 밀어놈 == 나중에 update용도

# '소분류코드', '소분류항목명', '중분류코드', '중분류항목명'
# result_three = pd.DataFrame([])
# for i in range(5): # final_data의 row 갯수만큼 반복해라~
#     for j in range(len(산업분류표)):  # 산업분류표의 row 갯수만큼도~ 반복해라~
#         if str(final_data['산업분류코드'][i])[:2] == cc['중분류코드'][j]: # #산업코드 앞2자리가 분류표 2자리가 맞으면
#             final_data['산업분류코드설명중분류'][i] = cc['중분류항목명'][j] # 산업분류표에 항목명으로 update
#         elif str(final_data['산업분류코드'][i])[:3] == cc['소분류코드'][j]: #산업코드 앞3자리가 분류표 3자리가 맞으면
#             final_data['산업분류코드설명소분류'][i] = cc['소분류항목명'][j]  # 산업분류표에 항목명으로 update
#         else:
#             continue # 나머지는 넘어가라~ 

# # display(final_data[['산업분류코드','산업분류코드설명중분류']])
# display(final_data[['산업분류코드','중분류코드', '중분류항목명','소분류코드', '소분류항목명']])
# print("코드가 돌아가는데 걸린시간은 ? 두구두구두구두구두구~~~  :", time.time() - start)  # 현재시각 - 시작시간 = 실행 시간

'41'

In [24]:
# 복사2 = 확정
import time
start = time.time()  # 시작 시간 저장


final_data['중분류코드'] = '0' # dataframe 0 으로 밀어놈 == 나중에 update용도
final_data['중분류항목명'] = '0' # dataframe 0 으로 밀어놈 == 나중에 update용도
final_data['소분류코드'] = '0' # dataframe 0 으로 밀어놈 == 나중에 update용도
final_data['소분류항목명'] = '0' # dataframe 0 으로 밀어놈 == 나중에 update용도

# final_data[['소분류코드', '소분류항목명', '중분류코드', '중분류항목명']]

    
    
for i in range(20):
    for j in range(0,len(final_data)) : # final_data의 row 갯수만큼 반복해라~
        if 산업분류표['중분류(77)'][i] == str(final_data['산업분류코드'][j])[:2] :
            final_data['중분류항목명'][j] = 산업분류표['Unnamed: 3'][i]    # 산업분류표에 항목명으로 update
        if 산업분류표['소분류(232)'][i] == str(final_data['산업분류코드'][j])[:3] :
            final_data['소분류항목명'][j] = 산업분류표['Unnamed: 5'][i]    # 산업분류표에 항목명으로 update

display(final_data[['산업분류코드','중분류코드', '중분류항목명','소분류코드', '소분류항목명']])
print("코드가 돌아가는데 걸린시간은 ? 두구두구두구두구두구~~~  :", time.time() - start)  # 현재시각 - 시작시간 = 실행 시간

         산업분류코드 중분류코드 중분류항목명 소분류코드 소분류항목명
0       41220.0     0      0     0      0
1       41220.0     0      0     0      0
2       41220.0     0      0     0      0
3       41220.0     0      0     0      0
4       41220.0     0      0     0      0
...         ...   ...    ...   ...    ...
469085  58222.0     0      0     0      0
469086  58222.0     0      0     0      0
469087  58222.0     0      0     0      0
469088  58222.0     0      0     0      0
469089  58222.0     0      0     0      0

[469090 rows x 5 columns]

코드가 돌아가는데 걸린시간은 ? 두구두구두구두구두구~~~  : 206.5346541404724

In [19]:
중분류항목명_index = final_data['중분류항목명'].value_counts().index.tolist()
중분류항목명_index#.apply(lambda x : x.split(''))

['0']

In [25]:
# final_data.to_csv('final_3.0.csv', encoding='utf-8-sig') # 최종 확정한 데이터 백업

In [26]:
# 재무제표 계산식을 이용한 새로운 변수 설정

# 매출액/총자산(=자산총계)

재무 = pd.DataFrame([])



# 총자산증가율	"(당기말총자산/전기말총자산)*100-100 = (당기말 자산총계/전기말 자산총계)*100-100
# 자산총계 =총자본 = 총자산 =부채총계+자본총계(자기자본)

# input_ff['총자산회전율'] = input_ff['매출액'] - input_ff['자본총계']

# 당기매출액 : 기업이 일정 기간 동안 얻은 모든 수익에서 지출한 모든 비용을 공제하고 순수하게 이익으로 남은 몫
# 매출액증가율 : 전년에 비해 얼마나 매출액이 증가했는지를 보여주는 성장성 지표
# 매출액증가율	(당기매출액/전기매출액)*100-100
# input_ff['매출액증가율'] = 

# 유동비율	(유동자산/유동부채)*100
input_ff['유동비율'] = (input_ff['유동자산'] / input_ff['유동부채']) * 100 #

# 차입금의존도	((차입금+회사채+유동성장기부채)/자본총계)*100
# input_ff['차입금의존도'] =  

# 자기자본비율	"(자기자본(=자본총계)/총자본(=자산총계))*100
input_ff['자기자본비율'] = (input_ff['자본총계'] / input_ff['자산총계']) * 100

# 부채비율	((유동부채+비유동부채)/자본총계(=자기자본))*100
input_ff['부채비율'] = ((input_ff['유동부채'] + input_ff['비유동부채']) / input_ff['자본총계']) * 100

# 이자보상비율	(영업이익/이자비용)*100
input_ff['이자보상비율'] = (input_ff['영업이익'] / input_ff['이자비용']) * 100

# 적립금비율	((자본잉여금+이익잉여금)/자본총계(=자기자본))*100
input_ff['적립금비율'] = ((input_ff['자본잉여금'] + input_ff['이익잉여금']) / input_ff['자본총계']) * 100

# 총자본순이익율	(당기순이익(손실)/총자본(=자산총계))*100
input_ff['총자본순이익율'] = input_ff['당기순이익(손실)'] / input_ff['자산총계']#

# 매출영업이익율	(영업이익/매출액)*100
input_ff['매출영업이익률'] = round((input_ff['영업이익'] / input_ff['매출액']) * 100 , 2)

# 총자산회전율	매출액/총자산(=자산총계)
input_ff['총자산회전율'] = input_ff['매출액'] / input_ff['자산총계']#

# 매출채권회전율	매출액/매출채권(평균)
input_ff['매출채권회전율'] = input_ff['매출액'] / input_ff['매출채권'].mean()#

# 유동비율	(유동자산/유동부채)*100
input_ff['유동비율'] = (input_ff['유동자산'] / input_ff['유동부채'])# 

# 당좌비율	(당좌자산/유동부채)*100
input_ff['당좌비율'] = (input_ff['당좌자산'] / input_ff['유동부채']) * 100


# 재무 = input_ff[['중분류항목명','조사년도','유동비율', '자기자본비율', '부채비율', '이자보상비율','적립금비율', '총자본순이익율','매출영업이익률', '총자산회전율','매출채권회전율', '유동비율', '당좌비율']]
# 재무#.dropna()
input_ff

KeyError: '유동자산'

In [ ]:
# 재무제표 계산식을 이용한 새로운 변수 설정

# 매출액/총자산(=자산총계)

재무 = pd.DataFrame([])

# 총자산증가율	"(당기말총자산/전기말총자산)*100-100 = (당기말 자산총계/전기말 자산총계)*100-100
# 자산총계 =총자본 = 총자산 =부채총계+자본총계(자기자본)

# input_ff_cl['총자산회전율'] = input_ff_cl['매출액'] - input_ff_cl['자본총계']

# 당기매출액 : 기업이 일정 기간 동안 얻은 모든 수익에서 지출한 모든 비용을 공제하고 순수하게 이익으로 남은 몫
# 매출액증가율 : 전년에 비해 얼마나 매출액이 증가했는지를 보여주는 성장성 지표
# 매출액증가율	(당기매출액/전기매출액)*100-100
# input_ff_cl['매출액증가율'] = 

# 유동비율	(유동자산/유동부채)*100
input_ff_cl['유동비율'] = (input_ff_cl['유동자산'] / input_ff_cl['유동부채']) * 100 #

# 차입금의존도	((차입금+회사채+유동성장기부채)/자본총계)*100
# input_ff_cl['차입금의존도'] =  

# 자기자본비율	"(자기자본(=자본총계)/총자본(=자산총계))*100
input_ff_cl['자기자본비율'] = (input_ff_cl['자본총계'] / input_ff_cl['자산총계']) * 100

# 부채비율	((유동부채+비유동부채)/자본총계(=자기자본))*100
input_ff_cl['부채비율'] = ((input_ff_cl['유동부채'] + input_ff_cl['비유동부채']) / input_ff_cl['자본총계']) * 100

# 이자보상비율	(영업이익/이자비용)*100
input_ff_cl['이자보상비율'] = (input_ff_cl['영업이익'] / input_ff_cl['이자비용']) * 100

# 적립금비율	((자본잉여금+이익잉여금)/자본총계(=자기자본))*100
input_ff_cl['적립금비율'] = ((input_ff_cl['자본잉여금'] + input_ff_cl['이익잉여금']) / input_ff_cl['자본총계']) * 100

# 총자본순이익율	(당기순이익(손실)/총자본(=자산총계))*100
input_ff_cl['총자본순이익율'] = input_ff_cl['당기순이익(손실)'] / input_ff_cl['자산총계']#

# 매출영업이익율	(영업이익/매출액)*100
input_ff_cl['매출영업이익률'] = round((input_ff_cl['영업이익'] / input_ff_cl['매출액']) * 100 , 2)

# 총자산회전율	매출액/총자산(=자산총계)
input_ff_cl['총자산회전율'] = input_ff_cl['매출액'] / input_ff_cl['자산총계']#

# 매출채권회전율	매출액/매출채권(평균)
input_ff_cl['매출채권회전율'] = input_ff_cl['매출액'] / input_ff_cl['매출채권'].mean()#

# 유동비율	(유동자산/유동부채)*100
input_ff_cl['유동비율'] = (input_ff_cl['유동자산'] / input_ff_cl['유동부채'])# 

# 당좌비율	(당좌자산/유동부채)*100
input_ff_cl['당좌비율'] = (input_ff_cl['당좌자산'] / input_ff_cl['유동부채']) * 100


# 재무 = input_ff_cl[['중분류항목명','조사년도','유동비율', '자기자본비율', '부채비율', '이자보상비율','적립금비율', '총자본순이익율','매출영업이익률', '총자산회전율','매출채권회전율', '유동비율', '당좌비율']]
# 재무#.dropna()
input_ff_cl

In [ ]:
# 중분류항목명과 조사년도에 대한 재무제표계정과목명당 과목금액
p1 = final_data.pivot_table(index =['중분류항목명', '조사년도'], columns='재무제표계정과목명',values='재무제표계정과목금액', aggfunc='mean')#.to_csv('과목별과목금액_연재꺼.csv', encoding='utf-8-sig')

In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
top5 = final_data['중분류항목명'].value_counts().index.tolist()[:5] # 빈도수 제일많은 중분류 항목명
cond1 = final_data['중분류항목명'].isin(top5) # 컨디션으로 top5만 데이터 추출'
df_top5 = final_data.loc[cond1] # dataframe 으로 top5 넣고
# df_top5.pivot_table(index='중분류항목명', values='CRI등급', aggfunc='sum').reset_index() 

sns.countplot(data= df_top5, y = 'CRI등급')

In [ ]:
# 원천데이터의 분류코드, 중~소 분류코드, 항목명만 저장
final_data[['산업분류코드','중분류코드', '중분류항목명','소분류코드', '소분류항목명']].to_csv('ss.csv', encoding='utf-8-sig')#.isnull().sum()#.astype(str)

In [ ]:
# 복사2 = 확정
import time
start = time.time()  # 시작 시간 저장

mk = 산업분류표[['소분류(232)', 'Unnamed: 5']]
final_data['산업분류코드설명중분류'] = 0 # dataframe 0 으로 밀어놈 == 나중에 update용도
final_data['산업분류코드설명소분류'] = 0 # dataframe 0 으로 밀어놈 == 나중에 update용도
# final_data['산업분류코드_세자리']

# 소분류	소분류항목명	중분류	중분류항목명 == cc 의 column
result_three = pd.DataFrame([])
for i in range(len(final_data)): # final_data의 row 갯수만큼 반복해라~
    for j in range(len(산업분류표)):  # 산업분류표의 row 갯수만큼도~ 반복해라~
#         if str(final_data['산업분류코드'][i])[:2] == 산업분류표['중분류(77)'][j]: # #산업코드 앞2자리가 분류표 2자리가 맞으면
#             final_data['산업분류코드설명중분류'][i] = 산업분류표['Unnamed: 5'][j] # 산업분류표에 항목명으로 update
        if str(final_data['산업분류코드'][i])[:3] == 산업분류표['소분류(232)'][j]: #산업코드 앞3자리가 분류표 3자리가 맞으면
            final_data['산업분류코드설명소분류'][i] = 산업분류표['Unnamed: 5'][j]  # 산업분류표에 항목명으로 update
        else:
            continue # 나머지는 넘어가라~ 

display(final_data[['산업분류코드','산업분류코드설명중분류']])
display(final_data[['산업분류코드','산업분류코드설명중분류', '산업분류코드설명소분류']])
print("코드가 돌아가는데 걸린시간은 ? 두구두구두구두구두구~~~  :", time.time() - start)  # 현재시각 - 시작시간 = 실행 시간

### 재무제표 계산식 활용

In [30]:
pwd # 현재 경로 확인

'C:\\Users\\DMC CONET\\Bigdata_idea'

In [31]:
과목별과목금액 = pd.read_csv('./과목별과목금액.csv')

In [32]:
과목별과목금액.columns

Index(['중분류항목명', '조사년도', '노무비', '당기순이익(손실)', '당좌부채(당좌차월)', '당좌자산', '대손상각비',
       '매출액', '매출원가', '매출채권', '매출총이익', '법인세비용', '부채총계', '비유동부채', '수출액1',
       '수출액2', '수출액3', '수출액4', '수출액5', '영업외비용', '영업이익', '원재료', '유동부채', '유동자산',
       '이익잉여금', '이자비용', '인건비', '자본잉여금', '자본총계', '자산총계', '재고자산', '제조경비', '제조원가',
       '투자자산', '판매비와관리비', '회사채'],
      dtype='object')

In [33]:
과목별과목금액.shape

(291, 36)

In [34]:
과목별과목금액결측치평균으로제거 = pd.read_csv('./과목별과목금액결측치평균으로제거.csv', encoding='cp949')

In [35]:
과목별과목금액결측치평균으로제거.columns

Index(['Unnamed: 0', '중분류항목명', '조사년도', '노무비', '당기순이익(손실)', '당좌부채(당좌차월)',
       '당좌자산', '대손상각비', '매출액', '매출원가', '매출채권', '매출총이익', '법인세비용', '부채총계',
       '비유동부채', '수출액1', '수출액2', '수출액3', '수출액4', '수출액5', '영업외비용', '영업이익', '원재료',
       '유동부채', '유동자산', '이익잉여금', '이자비용', '인건비', '자본잉여금', '자본총계', '자산총계', '재고자산',
       '제조경비', '제조원가', '투자자산', '판매비와관리비', '회사채'],
      dtype='object')

In [36]:
# 매출액/총자산(=자산총계)

과목별과목금액결측치평균으로제거.columns
재무 = pd.DataFrame([])



# 총자산증가율	"(당기말총자산/전기말총자산)*100-100 = (당기말 자산총계/전기말 자산총계)*100-100
# 자산총계 =총자본 = 총자산 =부채총계+자본총계(자기자본)

# 과목별과목금액결측치평균으로제거['총자산회전율'] = 과목별과목금액결측치평균으로제거['매출액'] - 과목별과목금액결측치평균으로제거['자본총계']

# 당기매출액 : 기업이 일정 기간 동안 얻은 모든 수익에서 지출한 모든 비용을 공제하고 순수하게 이익으로 남은 몫
# 매출액증가율 : 전년에 비해 얼마나 매출액이 증가했는지를 보여주는 성장성 지표
# 매출액증가율	(당기매출액/전기매출액)*100-100
# 과목별과목금액결측치평균으로제거['매출액증가율'] = 

# 유동비율	(유동자산/유동부채)*100
과목별과목금액결측치평균으로제거['유동비율'] = (과목별과목금액결측치평균으로제거['유동자산'] / 과목별과목금액결측치평균으로제거['유동부채']) * 100 #

# 차입금의존도	((차입금+회사채+유동성장기부채)/자본총계)*100
# 과목별과목금액결측치평균으로제거['차입금의존도'] =  

# 자기자본비율	"(자기자본(=자본총계)/총자본(=자산총계))*100
과목별과목금액결측치평균으로제거['자기자본비율'] = (과목별과목금액결측치평균으로제거['자본총계'] / 과목별과목금액결측치평균으로제거['자산총계']) * 100

# 부채비율	((유동부채+비유동부채)/자본총계(=자기자본))*100
과목별과목금액결측치평균으로제거['부채비율'] = ((과목별과목금액결측치평균으로제거['유동부채'] + 과목별과목금액결측치평균으로제거['비유동부채']) / 과목별과목금액결측치평균으로제거['자본총계']) * 100

# 이자보상비율	(영업이익/이자비용)*100
과목별과목금액결측치평균으로제거['이자보상비율'] = (과목별과목금액결측치평균으로제거['영업이익'] / 과목별과목금액결측치평균으로제거['이자비용']) * 100

# 적립금비율	((자본잉여금+이익잉여금)/자본총계(=자기자본))*100
과목별과목금액결측치평균으로제거['적립금비율'] = ((과목별과목금액결측치평균으로제거['자본잉여금'] + 과목별과목금액결측치평균으로제거['이익잉여금']) / 과목별과목금액결측치평균으로제거['자본총계']) * 100

# 총자본순이익율	(당기순이익(손실)/총자본(=자산총계))*100
과목별과목금액결측치평균으로제거['총자본순이익율'] = 과목별과목금액결측치평균으로제거['당기순이익(손실)'] / 과목별과목금액결측치평균으로제거['자산총계']#

# 매출영업이익율	(영업이익/매출액)*100
과목별과목금액결측치평균으로제거['매출영업이익률'] = round((과목별과목금액결측치평균으로제거['영업이익'] / 과목별과목금액결측치평균으로제거['매출액']) * 100 , 2)

# 총자산회전율	매출액/총자산(=자산총계)
과목별과목금액결측치평균으로제거['총자산회전율'] = 과목별과목금액결측치평균으로제거['매출액'] / 과목별과목금액결측치평균으로제거['자산총계']#

# 매출채권회전율	매출액/매출채권(평균)
과목별과목금액결측치평균으로제거['매출채권회전율'] = 과목별과목금액결측치평균으로제거['매출액'] / 과목별과목금액결측치평균으로제거['매출채권'].mean()#

# 유동비율	(유동자산/유동부채)*100
과목별과목금액결측치평균으로제거['유동비율'] = (과목별과목금액결측치평균으로제거['유동자산'] / 과목별과목금액결측치평균으로제거['유동부채'])# 

# 당좌비율	(당좌자산/유동부채)*100
과목별과목금액결측치평균으로제거['당좌비율'] = (과목별과목금액결측치평균으로제거['당좌자산'] / 과목별과목금액결측치평균으로제거['유동부채']) * 100


재무 = 과목별과목금액결측치평균으로제거[['중분류항목명','조사년도','유동비율', '자기자본비율', '부채비율', '이자보상비율','적립금비율', '총자본순이익율','매출영업이익률', '총자산회전율','매출채권회전율', '유동비율', '당좌비율']]
재무

,중분류항목명,조사년도,유동비율,자기자본비율,부채비율,이자보상비율,적립금비율,총자본순이익율,매출영업이익률,총자산회전율,매출채권회전율,유동비율,당좌비율
0,1차 금속 제조업,2017.0,1.707941,67.303942,48.579707,628.418288,104.462639,0.037948,6.46,0.761529,105.374355,1.707941,75.554482
1,1차 금속 제조업,2018.0,1.297394,59.338703,68.524076,116.226963,108.616573,0.006471,1.02,0.661956,90.281756,1.297394,60.863520
2,1차 금속 제조업,2019.0,1.646229,61.257700,63.244785,180.693936,108.554397,0.018631,1.64,0.806745,108.087724,1.646229,86.555361
3,1차 금속 제조업,2020.0,1.610645,56.519274,76.930795,113.010456,109.611650,-0.053951,1.14,0.706625,92.743297,1.610645,98.115218
4,1차 금속 제조업,2021.0,1.541367,58.647961,70.508911,1192.761528,108.487053,0.060429,7.44,0.946443,133.283771,1.541367,80.894958
...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,화학 물질 및 화학제품 제조업; 의약품 제외,2021.0,1.233418,54.707730,83.591285,1995.455058,163.204366,0.112798,6.51,1.630831,30.673522,1.233418,87.110033
287,환경 정화 및 복원업,2018.0,6.402756,84.381726,27541.585476,6.660564,80565.772812,0.658261,13.68,5.286350,0.030633,6.402756,640.275633
288,환경 정화 및 복원업,2019.0,1.805447,46.891098,8130.503152,4823.729492,23539.009824,0.332321,13.52,2.678519,0.095885,1.805447,180.544747
289,환경 정화 및 복원업,2020.0,2.337944,61.193138,4802.019829,898.657117,13953.659808,0.250248,2.99,3.882917,0.180210,2.337944,233.794417
290,환경 정화 및 복원업,2021.0,2.369928,49.616122,101.547394,4031.245791,5209.242818,0.250221,16.18,1.541695,0.238691,2.369928,236.992768

In [37]:
재무.columns

Index(['중분류항목명', '조사년도', '유동비율', '자기자본비율', '부채비율', '이자보상비율', '적립금비율',
       '총자본순이익율', '매출영업이익률', '총자산회전율', '매출채권회전율', '유동비율', '당좌비율'],
      dtype='object')

In [38]:
ff = final_data.copy() # 데이터보존을 위해 copy

#final_data 새로운 변수 0으로 할당

ff['유동비율'] = 0
ff['자기자본비율'] = 0
ff['부채비율'] = 0
ff['이자보상비율'] = 0
ff['적립금비율'] = 0
ff['총자본순이익율'] = 0
ff['매출영업이익률'] = 0
ff['총자산회전율'] = 0
ff['매출채권회전율'] = 0
ff['유동비율'] = 0
ff['당좌비율'] = 0

In [39]:
ff = pd.read_csv('ff_f.csv') # final_data라고 칭한 데이터 백업 후 새로 불러옴(기존코드 다시 돌리기 방지)

C:\Users\DMC CONET\AppData\Local\Temp\ipykernel_2480\1528405682.py:1: DtypeWarning: Columns (14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  ff = pd.read_csv('ff_f.csv') # final_data라고 칭한 데이터 백업 후 새로 불러옴(기존코드 다시 돌리기 방지)

In [40]:
ff.columns

input_col = ff[['중분류항목명','조사년도', '기업규모','매출액', '영업이익',
      '기업규모명', '종업원수', 'CRI등급']]

In [1]:
# 재무제표 계산식을 이용한 새로운 변수 설정

# 매출액/총자산(=자산총계)

재무 = pd.DataFrame([])

# 총자산증가율	"(당기말총자산/전기말총자산)*100-100 = (당기말 자산총계/전기말 자산총계)*100-100
# 자산총계 =총자본 = 총자산 =부채총계+자본총계(자기자본)

# 중분류별_col['총자산회전율'] = 중분류별_col['매출액'] - 중분류별_col['자본총계']

# 당기매출액 : 기업이 일정 기간 동안 얻은 모든 수익에서 지출한 모든 비용을 공제하고 순수하게 이익으로 남은 몫
# 매출액증가율 : 전년에 비해 얼마나 매출액이 증가했는지를 보여주는 성장성 지표
# 매출액증가율	(당기매출액/전기매출액)*100-100
# 중분류별_col['매출액증가율'] = 

# 유동비율	(유동자산/유동부채)*100
중분류별_col['유동비율'] = (중분류별_col['유동자산'] / 중분류별_col['유동부채']) * 100 #

# 차입금의존도	((차입금+회사채+유동성장기부채)/자본총계)*100
# 중분류별_col['차입금의존도'] =  

# 자기자본비율	"(자기자본(=자본총계)/총자본(=자산총계))*100
중분류별_col['자기자본비율'] = (중분류별_col['자본총계'] / 중분류별_col['자산총계']) * 100



# 부채비율	((유동부채+비유동부채)/자본총계(=자기자본))*100
# 중분류별_col['부채비율'] = ((중분류별_col['유동부채'] + 중분류별_col['비유동부채']) / 중분류별_col['자본총계']) * 100

# 이자보상비율	(영업이익/이자비용)*100
중분류별_col['이자보상비율'] = (중분류별_col['영업이익'] / 중분류별_col['이자비용']) * 100

# 적립금비율	((자본잉여금+이익잉여금)/자본총계(=자기자본))*100
중분류별_col['적립금비율'] = ((중분류별_col['자본잉여금'] + 중분류별_col['이익잉여금']) / 중분류별_col['자본총계']) * 100

# 총자본순이익율	(당기순이익(손실)/총자본(=자산총계))*100
# 중분류별_col['총자본순이익율'] = 중분류별_col['당기순이익(손실)'] / 중분류별_col['자산총계']#

# 매출영업이익율	(영업이익/매출액)*100
중분류별_col['매출영업이익률'] = round((중분류별_col['영업이익'] / 중분류별_col['매출액']) * 100 , 2)

['중분류항목명_x', '매출액', '부채와자본총계', '영업이익', '유동부채', '유동자산', '이익잉여금', '이자비용',
       '자본잉여금', '자산총계', '재무제표기준년월', '기업규모명', 'CRI등급', '종업원수']

# 총자산회전율	매출액/총자산(=자산총계)
중분류별_col['총자산회전율'] = 중분류별_col['매출액'] / 중분류별_col['자산총계']#

# 매출채권회전율	매출액/매출채권(평균)
중분류별_col['매출채권회전율'] = 중분류별_col['매출액'] / 중분류별_col['매출채권'].mean()#

# 유동비율	(유동자산/유동부채)*100
중분류별_col['유동비율'] = (중분류별_col['유동자산'] / 중분류별_col['유동부채'])# 

# 당좌비율	(당좌자산/유동부채)*100
중분류별_col['당좌비율'] = (중분류별_col['당좌자산'] / 중분류별_col['유동부채']) * 100


# 재무 = 중분류별_col[['중분류항목명','조사년도','유동비율', '자기자본비율', '부채비율', '이자보상비율','적립금비율', '총자본순이익율','매출영업이익률', '총자산회전율','매출채권회전율', '유동비율', '당좌비율']]
# 재무#.dropna()
중분류별_col

NameError: name 'pd' is not defined

In [41]:
input_ff = input_col.merge(재무, on=['중분류항목명', '조사년도'], how='left')
ff# ff.to_csv('ff_f.csv', encoding='utf-8-sig')

,Unnamed: 0,사업자등록번호,데이터수집일자,조사년도,재무보고서구분코드,재무보고서명칭,재무제표기준년월,재무제표계정과목코드,재무제표계정과목명,재무제표계정과목금액,...,자기자본비율,부채비율,이자보상비율,적립금비율,총자본순이익율,매출영업이익률,총자산회전율,매출채권회전율,유동비율.1,당좌비율
0,0,1018134928,20221022.0,2020.0,2,손익계산서,202012.0,M21000,매출액,6.374505e+09,...,37.501861,177.622619,469.630644,252.991340,0.049242,4.97,0.748695,13.918713,1.355690,117.742169
1,1,1018134928,20221022.0,2020.0,2,손익계산서,202012.0,M22000,매출원가,6.034304e+09,...,37.501861,177.622619,469.630644,252.991340,0.049242,4.97,0.748695,13.918713,1.355690,117.742169
2,2,1018134928,20221022.0,2020.0,2,손익계산서,202012.0,M23000,매출총이익,3.402003e+08,...,37.501861,177.622619,469.630644,252.991340,0.049242,4.97,0.748695,13.918713,1.355690,117.742169
3,3,1018134928,20221022.0,2020.0,2,손익계산서,202012.0,M24000,판매비와관리비,2.833521e+08,...,37.501861,177.622619,469.630644,252.991340,0.049242,4.97,0.748695,13.918713,1.355690,117.742169
4,4,1018134928,20221022.0,2020.0,2,손익계산서,202012.0,M24100,인건비,1.754292e+08,...,37.501861,177.622619,469.630644,252.991340,0.049242,4.97,0.748695,13.918713,1.355690,117.742169
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469085,469085,8998800811,20221022.0,2020.0,1,재무상태표,202012.0,M12100,투자자산,5.619000e+04,...,67.685305,50.427356,1855.122904,128.475656,0.068430,17.68,0.502645,1.294482,2.849233,279.023065
469086,469086,8998800811,20221022.0,2019.0,C,안정성지표,201912.0,MC1100,유동비율,NaN,...,72.063672,42.363600,2624.991604,132.060129,0.114282,22.45,0.573485,1.521641,3.495647,342.925458
469087,469087,8998800811,20221022.0,2019.0,A,성장성지표,201912.0,MA5300,자기자본,NaN,...,72.063672,42.363600,2624.991604,132.060129,0.114282,22.45,0.573485,1.521641,3.495647,342.925458
469088,469088,8998800811,20221022.0,2019.0,A,성장성지표,201912.0,MA5100,총자산,NaN,...,72.063672,42.363600,2624.991604,132.060129,0.114282,22.45,0.573485,1.521641,3.495647,342.925458
469089,469089,8998800811,20221022.0,2020.0,1,재무상태표,202012.0,M11000,유동자산,3.881007e+06,...,67.685305,50.427356,1855.122904,128.475656,0.068430,17.68,0.502645,1.294482,2.849233,279.023065

In [42]:
과목별과목금액.columns

Index(['중분류항목명', '조사년도', '노무비', '당기순이익(손실)', '당좌부채(당좌차월)', '당좌자산', '대손상각비',
       '매출액', '매출원가', '매출채권', '매출총이익', '법인세비용', '부채총계', '비유동부채', '수출액1',
       '수출액2', '수출액3', '수출액4', '수출액5', '영업외비용', '영업이익', '원재료', '유동부채', '유동자산',
       '이익잉여금', '이자비용', '인건비', '자본잉여금', '자본총계', '자산총계', '재고자산', '제조경비', '제조원가',
       '투자자산', '판매비와관리비', '회사채'],
      dtype='object')

In [43]:
input_ff.to_csv('result.csv', encoding='utf-8-sig')

In [44]:
# 시각화

In [45]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# 재무제표 계산식을 이용한 새로운 변수 설정

# 매출액/총자산(=자산총계)

# 총자산증가율	"(당기말총자산/전기말총자산)*100-100 = (당기말 자산총계/전기말 자산총계)*100-100
# 자산총계 =총자본 = 총자산 =부채총계+자본총계(자기자본)

# 소분류_col['총자산회전율'] = 소분류_col['매출액'] - 소분류_col['자본총계']

# 당기매출액 : 기업이 일정 기간 동안 얻은 모든 수익에서 지출한 모든 비용을 공제하고 순수하게 이익으로 남은 몫
# 매출액증가율 : 전년에 비해 얼마나 매출액이 증가했는지를 보여주는 성장성 지표
# 매출액증가율	(당기매출액/전기매출액)*100-100
# 소분류_col['매출액증가율'] = 

# 유동비율	(유동자산/유동부채)*100
소분류_col['유동비율'] = (소분류_col['유동자산'] / 소분류_col['유동부채']) * 100 #

# 차입금의존도	((차입금+회사채+유동성장기부채)/자본총계)*100
# 소분류_col['차입금의존도'] =  

# 자기자본비율	"(자기자본(=자본총계)/총자본(=자산총계))*100
# 소분류_col['자기자본비율'] = (소분류_col['자본총계'] / 소분류_col['자산총계']) * 100


# 부채비율	((유동부채+비유동부채)/자본총계(=자기자본))*100
# 소분류_col['부채비율'] = ((소분류_col['유동부채'] + 소분류_col['비유동부채']) / 소분류_col['자본총계']) * 100

# 이자보상비율	(영업이익/이자비용)*100
소분류_col['이자보상비율'] = (소분류_col['영업이익'] / 소분류_col['이자비용']) * 100

# 적립금비율	((자본잉여금+이익잉여금)/자본총계(=자기자본))*100
# 소분류_col['적립금비율'] = ((소분류_col['자본잉여금'] + 소분류_col['이익잉여금']) / 소분류_col['자본총계']) * 100

# 총자본순이익율	(당기순이익(손실)/총자본(=자산총계))*100
# 소분류_col['총자본순이익율'] = 소분류_col['당기순이익(손실)'] / 소분류_col['자산총계']#

# 매출영업이익율	(영업이익/매출액)*100
소분류_col['매출영업이익률'] = round((소분류_col['영업이익'] / 소분류_col['매출액']) * 100 , 2)

['중분류항목명_x', '매출액', '부채와자본총계', '영업이익', '유동부채', '유동자산', '이익잉여금', '이자비용',
       '자본잉여금', '자산총계', '재무제표기준년월', '기업규모명', 'CRI등급', '종업원수']

# 총자산회전율	매출액/총자산(=자산총계)
소분류_col['총자산회전율'] = 소분류_col['매출액'] / 소분류_col['자산총계']#

# 매출채권회전율	매출액/매출채권(평균)
# 소분류_col['매출채권회전율'] = 소분류_col['매출액'] / 소분류_col['매출채권'].mean()#

# 유동비율	(유동자산/유동부채)*100
소분류_col['유동비율'] = (소분류_col['유동자산'] / 소분류_col['유동부채'])# 

# 당좌비율	(당좌자산/유동부채)*100
소분류_col['당좌비율'] = (소분류_col['당좌자산'] / 소분류_col['유동부채']) * 100

소분류_col.columns

In [46]:
# X = ff[['매출액', '영업이익', '자본총계금액', '부채총계금액', '자산총계금액', # '유동비율'
#  '자기자본비율', '부채비율', '이자보상비율', '적립금비율', '총자본순이익율', '매출영업이익률', 
#         '총자산회전율', '매출채권회전율', '당좌비율']]
import numpy as np
ff = ff.replace([np.inf, -np.inf], 1)
input_ff = input_ff.dropna(subset='CRI등급')
# X = ff[[ '조사년도', '자기자본비율', '부채비율', '이자보상비율', '적립금비율',# df = df.replace([np.inf, -np.inf], np.nan)
#        '총자본순이익율', '매출영업이익률', '총자산회전율', '매출채권회전율']]

X = input_ff[['중분류항목명', '조사년도', '기업규모', '매출액', '영업이익', '기업규모명', '종업원수',
        '자기자본비율', '부채비율', '이자보상비율', '적립금비율', '총자본순이익율', '매출영업이익률',
       '총자산회전율', '매출채권회전율', '당좌비율']] # , '유동비율''유동비율'
Y = input_ff['CRI등급']

In [47]:
ff.columns

Index(['Unnamed: 0', '사업자등록번호', '데이터수집일자', '조사년도', '재무보고서구분코드', '재무보고서명칭',
       '재무제표기준년월', '재무제표계정과목코드', '재무제표계정과목명', '재무제표계정과목금액', '구성비율', '증감율',
       '기업코드', '기업명', '업종', '업종명', '기업규모', '기업규모명', 'CRI등급', 'CRI기준일', '결산일자',
       '사업자등록번호_마스킹', '대표자명', '기업영문명', '종업원수', '종업원수기준년월', '산업분류코드',
       '산업분류코드설명', '기업형태', '설립일', '이메일주소', '전화번호', '팩스전화번호', '우편번호', '주소',
       '상세주소', '매출액', '영업이익', '자본총계금액', '부채총계금액', '자산총계금액', '산업분류코드설명중분류',
       '산업분류코드설명소분류', '중분류코드', '중분류항목명', '소분류코드', '소분류항목명', '유동비율', '자기자본비율',
       '부채비율', '이자보상비율', '적립금비율', '총자본순이익율', '매출영업이익률', '총자산회전율', '매출채권회전율',
       '유동비율.1', '당좌비율'],
      dtype='object')

In [48]:
# 필요한 라이브러리를 호출
from sklearn.model_selection import train_test_split
from sklearn.compose        import make_column_transformer
from sklearn.impute import KNNImputer
from imblearn.pipeline      import pipeline
from imblearn.pipeline      import make_pipeline
from sklearn.impute         import SimpleImputer, KNNImputer
from sklearn.preprocessing  import MinMaxScaler, OneHotEncoder
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import ADASYN
from xgboost import XGBRegressor
from sklearn.model_selection import GridSearchCV    # 교차검증
from sklearn.metrics   import classification_report     # 평가
import pickle
from sklearn.metrics import r2_score, mean_squared_error

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor # Bagging Model 
from sklearn.tree import DecisionTreeClassifier

In [49]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, random_state=2, test_size=0.3)

In [50]:
Y.isnull().sum() # target값에 결측치가있으면 안되니 확인

0

In [51]:
from sklearn.preprocessing import OrdinalEncoder

In [52]:

numeric_pipe = make_pipeline(SimpleImputer(), MinMaxScaler())
category_pipe = make_pipeline(SimpleImputer(strategy='most_frequent'), OrdinalEncoder())

numeric_list = X.describe().columns.tolist()
category_list = X.describe(include='object').columns.tolist()

preprocessing_pipe = make_column_transformer((numeric_pipe, numeric_list), 
                                             (category_pipe, category_list)
                                            )

In [53]:
X.corr()

,조사년도,기업규모,매출액,영업이익,종업원수,자기자본비율,부채비율,이자보상비율,적립금비율,총자본순이익율,매출영업이익률,총자산회전율,매출채권회전율,당좌비율
조사년도,1.000000,0.140385,0.005582,0.001868,-0.001267,-0.090107,-0.012211,0.157977,0.005238,-0.024645,0.052585,-0.045916,0.010572,-0.050535
기업규모,0.140385,1.000000,0.731598,0.998203,-0.258282,-0.337440,0.121400,-0.299984,0.097416,-0.428317,-0.528680,0.234407,0.043691,-0.399519
매출액,0.005582,0.731598,1.000000,0.655655,0.830837,-0.021937,0.002253,-0.066125,-0.003238,-0.053865,-0.051572,0.061877,0.159849,-0.010746
영업이익,0.001868,0.998203,0.655655,1.000000,0.716460,-0.001947,-0.000279,-0.034816,-0.001400,-0.007778,-0.004593,-0.014529,0.029762,-0.013392
종업원수,-0.001267,-0.258282,0.830837,0.716460,1.000000,-0.025300,0.003324,-0.033584,-0.007949,-0.026173,-0.022287,-0.001496,0.149822,-0.019749
자기자본비율,-0.090107,-0.337440,-0.021937,-0.001947,-0.025300,1.000000,-0.197197,0.177789,-0.067684,0.278478,0.253503,0.045691,-0.228568,0.567988
부채비율,-0.012211,0.121400,0.002253,-0.000279,0.003324,-0.197197,1.000000,-0.047156,0.618367,0.041387,-0.060331,0.021225,0.030154,-0.054427
이자보상비율,0.157977,-0.299984,-0.066125,-0.034816,-0.033584,0.177789,-0.047156,1.000000,-0.032900,0.738451,0.727766,-0.166483,-0.134774,0.284101
적립금비율,0.005238,0.097416,-0.003238,-0.001400,-0.007949,-0.067684,0.618367,-0.032900,1.000000,0.050692,-0.022605,0.010780,-0.012657,0.129695
총자본순이익율,-0.024645,-0.428317,-0.053865,-0.007778,-0.026173,0.278478,0.041387,0.738451,0.050692,1.000000,0.717810,-0.300640,-0.201859,0.269001
매출영업이익률,0.052585,-0.528680,-0.051572,-0.004593,-0.022287,0.253503,-0.060331,0.727766,-0.022605,0.717810,1.000000,-0.266407,-0.177389,0.131387
총자산회전율,-0.045916,0.234407,0.061877,-0.014529,-0.001496,0.045691,0.021225,-0.166483,0.010780,-0.300640,-0.266407,1.000000,0.344663,0.266642
매출채권회전율,0.010572,0.043691,0.159849,0.029762,0.149822,-0.228568,0.030154,-0.134774,-0.012657,-0.201859,-0.177389,0.344663,1.000000,-0.068064
당좌비율,-0.050535,-0.399519,-0.010746,-0.013392,-0.019749,0.567988,-0.054427,0.284101,0.129695,0.269001,0.131387,0.266642,-0.068064,1.000000

In [55]:
model_pipe = make_pipeline(preprocessing_pipe, DecisionTreeClassifier())

hyperparameter_list = {'decisiontreeregressor__max_depth' : range(5,10),
#                         'decisiontreeregressor__min_samples_split' : range(5,10),
                        'decisiontreeregressor__min_samples_leaf' : range(5,10)}

grid_model = GridSearchCV(model_pipe, cv=5, param_grid={}, n_jobs=-1, error_score='raise')
grid_model.fit(X_train, Y_train)

# 6. 평가
best_model = grid_model.best_estimator_

Y_train_pred = best_model.predict(X_train)
Y_test_pred = best_model.predict(X_test)

print(f'Y_train_pred : {Y_train_pred}\n')
print(f'Y_test_pred : {Y_test_pred}\n')
# 평가


print(classification_report(Y_train, Y_train_pred))

print(classification_report(Y_test,Y_test_pred))

Y_train_pred : ['B2' 'B2' 'A2' ... 'C1' 'B3' 'B2']

Y_test_pred : ['C1' 'B1' 'B3' ... 'B3' 'C1' 'A3']

              precision    recall  f1-score   support

          A1       1.00      0.98      0.99      4432
          A2       0.99      0.97      0.98     20223
          A3       0.97      0.96      0.97     46388
          B1       0.96      0.96      0.96     54550
          B2       0.97      0.97      0.97     72583
          B3       0.96      0.97      0.96     47098
          C1       0.95      0.95      0.95     27251
          C2       0.90      0.96      0.93     27186
          C3       0.95      0.93      0.94     28195
           D       0.94      0.81      0.87        42
          NG       1.00      1.00      1.00       354

    accuracy                           0.96    328302
   macro avg       0.96      0.95      0.96    328302
weighted avg       0.96      0.96      0.96    328302

              precision    recall  f1-score   support

          A1       1.00      0.98      0.99      1976
          A2       0.98      0.96      0.97      8630
          A3       0.97      0.96      0.97     19745
          B1       0.96      0.96      0.96     23269
          B2       0.97      0.96      0.97     31274
          B3       0.96      0.97      0.96     20166
          C1       0.95      0.95      0.95     11803
          C2       0.90      0.96      0.93     11468
          C3       0.95      0.93      0.94     12206
           D       0.90      0.83      0.86        23
          NG       1.00      1.00      1.00       141

    accuracy                           0.96    140701
   macro avg       0.96      0.95      0.95    140701
weighted avg       0.96      0.96      0.96    140701

In [ ]:
# feature imporance 시각화
# !pip install eli5
# 츌처 : https://moondol-ai.tistory.com/401

import eli5
from eli5.sklearn import PermutationImportance

perm = PermutationImportance(best_model, random_state=1).fit(X_test, Y_test)
eli5.show_weights(perm, feature_names=X_test.columns.tolist())

In [ ]:
from lightgbm import LGBMClassifier
# 4. 파이프라인을 구성한다.

numeric_pipe = make_pipeline(KNNImputer(), MinMaxScaler())
# category_pipe = make_pipeline(SimpleImputer(strategy='most_frequent'), OneHotEncoder())
numeric_list = X.describe().columns.tolist()
# category_list = X.describe(include='object').columns.tolist()
preprocessing_pipe = make_column_transformer((numeric_pipe, numeric_list)
#                                             , (category_pipe, category_list)
                                            )
model_pipe = make_pipeline(preprocessing_pipe, LGBMClassifier())


hyper_parameter = {'lgbmclassifier__max_depth':range(5,11),
                  'lgbmclassifier__n_estimators':[50, 100, 200],
                  'lgbmclassifier__learning_rate':[0.1, 0.01, 0.001]}




grid_model = GridSearchCV(model_pipe, cv=5, param_grid=hyper_parameter, n_jobs=-1, error_score='raise')
grid_model.fit(X_train, Y_train)

# 6. 평가
best_model = grid_model.best_estimator_

Y_train_pred = best_model.predict(X_train)
Y_test_pred = best_model.predict(X_test)


print(f'Y_train_pred : {Y_train_pred}\n')
print(f'Y_test_pred : {Y_test_pred}\n')
# 평가
# print(f'r2_score_train : {r2_score(Y_train, Y_train_pred)}\n')
# print(f'r2_score_test : {r2_score(Y_test, Y_test_pred)}\n')

print(classification_report(Y_train, Y_train_pred))

print(classification_report(Y_test,Y_test_pred))
# encoder_list = best_model.named_steps['columntransformer'].transformers_[1][1].named_steps['onehotencoder'].get_feature_names().tolist()
# df_importance = pd.DataFrame()
# df_importance['Feature'] = pd.Series(numeric_list + encoder_list)
# df_importance['Importance']= best_model['xgbregressor'].feature_importances_
# df_importance.sort_values(by='Importance', ascending=False)

In [ ]:
from lightgbm import LGBMClassifier
# 4. 파이프라인을 구성한다.

numeric_pipe = make_pipeline(KNNImputer(), MinMaxScaler())
# category_pipe = make_pipeline(SimpleImputer(strategy='most_frequent'), OneHotEncoder())
numeric_list = X.describe().columns.tolist()
# category_list = X.describe(include='object').columns.tolist()
preprocessing_pipe = make_column_transformer((numeric_pipe, numeric_list)
#                                             , (category_pipe, category_list)
                                            )
model_pipe = make_pipeline(preprocessing_pipe, LGBMClassifier())


hyper_parameter = {'lgbmclassifier__max_depth':range(5,11),
                  'lgbmclassifier__n_estimators':[50, 100, 200],
                  'lgbmclassifier__learning_rate':[0.1, 0.01, 0.001]}




grid_model = GridSearchCV(model_pipe, cv=5, param_grid=hyper_parameter, n_jobs=-1, error_score='raise')
grid_model.fit(X_train, Y_train)

# 6. 평가
best_model = grid_model.best_estimator_

Y_train_pred = best_model.predict(X_train)
Y_test_pred = best_model.predict(X_test)


print(f'Y_train_pred : {Y_train_pred}\n')
print(f'Y_test_pred : {Y_test_pred}\n')
# 평가
# print(f'r2_score_train : {r2_score(Y_train, Y_train_pred)}\n')
# print(f'r2_score_test : {r2_score(Y_test, Y_test_pred)}\n')

print(classification_report(Y_train, Y_train_pred))

print(classification_report(Y_test,Y_test_pred))
# encoder_list = best_model.named_steps['columntransformer'].transformers_[1][1].named_steps['onehotencoder'].get_feature_names().tolist()
# df_importance = pd.DataFrame()
# df_importance['Feature'] = pd.Series(numeric_list + encoder_list)
# df_importance['Importance']= best_model['xgbregressor'].feature_importances_
# df_importance.sort_values(by='Importance', ascending=False)