In [9]:
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
기업정보상세_New = pd.read_csv('기업정보상세_New.csv')
기업정보요약_New = pd.read_csv('기업정보요약_New.csv')
재무제표정보_New = pd.read_csv('재무제표정보_New.csv')
# 기업정보상세_New = pd.read_csv('기업정보상세_New.csv')

In [16]:
기업정보상세_New.head(2)
# 기업정보상세_New.drop(columns='Unnamed: 0')

,Unnamed: 0,사업자등록번호,데이터수집일자,기업명,기업영문명,대표자명,종업원수,종업원수기준년월,산업분류코드,산업분류코드설명,...,CRI등급,CRI기준일,결산일자,매출액,영업이익,자본총계금액,부채총계금액,자산총계금액,작업구분코드,데이터생성일자
0,0,1240400001,20211130.0,에스케이***,S K Telecom,신**,1.0,201605.0,47312.0,통신기기 소매업,...,C2,20211130.0,NaN,NaN,NaN,NaN,NaN,NaN,I,20221114
1,1,1242100002,20211130.0,에스케이***,SK Telecom,이**,NaN,NaN,47312.0,통신기기 소매업,...,C3,20211130.0,NaN,NaN,NaN,NaN,NaN,NaN,I,20221114

In [17]:
재무제표정보_New.head(2)
# 재무제표정보_New = 재무제표정보_New.drop(columns='Unnamed: 0')

,Unnamed: 0,사업자등록번호,순번,데이터수집일자,조사년도,재무보고서구분코드,재무보고서명칭,상세구분코드,상세구분명칭,재무제표기준년월,재무제표계정과목코드,재무제표계정과목명,재무제표계정과목금액,구성비율,증감율,작업구분코드,데이터생성일자
0,5,1058200006,1,20220225.0,2020.0,2.0,손익계산서,anly,분석형,202002.0,M21000,매출액,59984210.0,100.00,-9.76,I,20221114
1,6,1058200006,2,20220225.0,2020.0,2.0,손익계산서,anly,분석형,202002.0,M25000,영업이익,2056670.0,3.43,-61.30,I,20221114

In [18]:
기업정보요약_New.columns

Index(['Unnamed: 0', '사업자등록번호', '데이터수집일자', '기업명', '대표자명', '주소', '기업형태', '기업규모',
       '공기업구분', '산업분류코드', '산업분류코드설명', '작업구분코드', '데이터생성일자'],
      dtype='object')

In [19]:
기업정보요약_New.head(2)
#기업정보요약_New.drop(columns='Unnamed: 0')

,Unnamed: 0,사업자등록번호,데이터수집일자,기업명,대표자명,주소,기업형태,기업규모,공기업구분,산업분류코드,산업분류코드설명,작업구분코드,데이터생성일자
0,0,1240400001,20211229.0,에스케이***,신**,경기 화성시 송산면 사강로,일반,중소기업,중소기업,47312.0,통신기기 소매업,I,20221114
1,1,1242100002,20211229.0,에스케이***,이**,경기도 수원시 영통구 매영로,일반,중소기업,중소기업,47312.0,통신기기 소매업,I,20221114

In [20]:
p1 = pd.merge(기업정보상세_New,재무제표정보_New, on=['사업자등록번호', '작업구분코드', '데이터생성일자'], how='inner')
# .merge(기업정보요약_New, on=['사업자등록번호','데이터수집일자', '기업형태' ])
p1['산업분류코드설명'].value_counts()
p1.isnull().sum()
p1.info() # 127564

<class 'pandas.core.frame.DataFrame'>
Int64Index: 127564 entries, 0 to 127563
Data columns (total 39 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0_x  127564 non-null  int64
 1   사업자등록번호       127564 non-null  int64
 2   데이터수집일자_x     127564 non-null  float64
 3   기업명           127564 non-null  object
 4   기업영문명         65759 non-null   object
 5   대표자명          127564 non-null  object
 6   종업원수          125258 non-null  float64
 7   종업원수기준년월      125183 non-null  float64
 8   산업분류코드        127564 non-null  float64
 9   산업분류코드설명      127564 non-null  object
 10  기업규모          127528 non-null  object
 11  기업형태          127564 non-null  object
 12  업태명           122129 non-null  object
 13  설립일           126372 non-null  float64
 14  상태발생일자        711 non-null     float64
 15  CRI등급         127564 non-null  object
 16  CRI기준일        67054 non-null   float64
 17  결산일자          66081 non-null   float64
 18  매출액           65668 non-null   float64
 19  영업이익          66036 non-null   float64
 20  자본총계금액        66046 non-null   float64
 21  부채총계금액        66017 non-null   float64
 22  자산총계금액        66067 non-null   float64
 23  작업구분코드        127564 non-null  object
 24  데이터생성일자       127564 non-null  int64
 25  Unnamed: 0_y  127564 non-null  int64
 26  순번            127564 non-null  int64
 27  데이터수집일자_y     127564 non-null  float64
 28  조사년도          127564 non-null  float64
 29  재무보고서구분코드     127564 non-null  float64
 30  재무보고서명칭       127564 non-null  object
 31  상세구분코드        127564 non-null  object
 32  상세구분명칭        127564 non-null  object
 33  재무제표기준년월      127564 non-null  float64
 34  재무제표계정과목코드    127564 non-null  object
 35  재무제표계정과목명     127564 non-null  object
 36  재무제표계정과목금액    127564 non-null  float64
 37  구성비율          127564 non-null  float64
 38  증감율           127564 non-null  float64
dtypes: float64(20), int64(5), object(14)
memory usage: 38.9+ MB

In [21]:
p1.columns

Index(['Unnamed: 0_x', '사업자등록번호', '데이터수집일자_x', '기업명', '기업영문명', '대표자명', '종업원수',
       '종업원수기준년월', '산업분류코드', '산업분류코드설명', '기업규모', '기업형태', '업태명', '설립일',
       '상태발생일자', 'CRI등급', 'CRI기준일', '결산일자', '매출액', '영업이익', '자본총계금액', '부채총계금액',
       '자산총계금액', '작업구분코드', '데이터생성일자', 'Unnamed: 0_y', '순번', '데이터수집일자_y',
       '조사년도', '재무보고서구분코드', '재무보고서명칭', '상세구분코드', '상세구분명칭', '재무제표기준년월',
       '재무제표계정과목코드', '재무제표계정과목명', '재무제표계정과목금액', '구성비율', '증감율'],
      dtype='object')

In [22]:
# p1[['데이터수집일자_x', '데이터수집일자_y']]
p1[['데이터수집일자_x', '데이터수집일자_y']]
p1.drop(columns=['데이터수집일자_x', '데이터수집일자_y'])

,Unnamed: 0_x,사업자등록번호,기업명,기업영문명,대표자명,종업원수,종업원수기준년월,산업분류코드,산업분류코드설명,기업규모,...,재무보고서구분코드,재무보고서명칭,상세구분코드,상세구분명칭,재무제표기준년월,재무제표계정과목코드,재무제표계정과목명,재무제표계정과목금액,구성비율,증감율
0,5,1058200006,서강대학교산학***,NaN,정**,39.0,202205.0,75919.0,기타 사무지원 서비스업,기타(비영리법인),...,2.0,손익계산서,anly,분석형,202002.0,M21000,매출액,59984210.0,100.00,-9.76
1,5,1058200006,서강대학교산학***,NaN,정**,39.0,202205.0,75919.0,기타 사무지원 서비스업,기타(비영리법인),...,2.0,손익계산서,anly,분석형,202002.0,M25000,영업이익,2056670.0,3.43,-61.30
2,5,1058200006,서강대학교산학***,NaN,정**,39.0,202205.0,75919.0,기타 사무지원 서비스업,기타(비영리법인),...,2.0,손익계산서,anly,분석형,202002.0,M29900,당기순이익,-2837018.0,-4.73,-693.89
3,5,1058200006,서강대학교산학***,NaN,정**,39.0,202205.0,75919.0,기타 사무지원 서비스업,기타(비영리법인),...,2.0,손익계산서,anly,분석형,201902.0,M21000,매출액,66473075.0,100.00,-3.03
4,5,1058200006,서강대학교산학***,NaN,정**,39.0,202205.0,75919.0,기타 사무지원 서비스업,기타(비영리법인),...,2.0,손익계산서,anly,분석형,201902.0,M25000,영업이익,5314594.0,8.00,0.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127559,18645,5088109999,(주)서부조***,"Seobu Landscape Development Co., Ltd",김**,11.0,202202.0,42499.0,그 외 기타 건축 마무리 공사업,중소기업,...,2.0,손익계산서,anly,분석형,201812.0,M29900,당기순이익,78788.0,2.58,-260.46
127560,18645,5088109999,(주)서부조***,"Seobu Landscape Development Co., Ltd",김**,11.0,202202.0,42499.0,그 외 기타 건축 마무리 공사업,중소기업,...,2.0,손익계산서,anly,분석형,201812.0,M25000,영업이익,97863.0,3.21,288.15
127561,18645,5088109999,(주)서부조***,"Seobu Landscape Development Co., Ltd",김**,11.0,202202.0,42499.0,그 외 기타 건축 마무리 공사업,중소기업,...,2.0,손익계산서,anly,분석형,201712.0,M21000,매출액,2694589.0,100.00,-59.23
127562,18645,5088109999,(주)서부조***,"Seobu Landscape Development Co., Ltd",김**,11.0,202202.0,42499.0,그 외 기타 건축 마무리 공사업,중소기업,...,2.0,손익계산서,anly,분석형,201712.0,M29900,당기순이익,-49102.0,-1.82,-106.99
127563,18645,5088109999,(주)서부조***,"Seobu Landscape Development Co., Ltd",김**,11.0,202202.0,42499.0,그 외 기타 건축 마무리 공사업,중소기업,...,2.0,손익계산서,anly,분석형,201712.0,M25000,영업이익,25213.0,0.94,-96.57

In [23]:
p1.head(2)

,Unnamed: 0_x,사업자등록번호,데이터수집일자_x,기업명,기업영문명,대표자명,종업원수,종업원수기준년월,산업분류코드,산업분류코드설명,...,재무보고서구분코드,재무보고서명칭,상세구분코드,상세구분명칭,재무제표기준년월,재무제표계정과목코드,재무제표계정과목명,재무제표계정과목금액,구성비율,증감율
0,5,1058200006,20221022.0,서강대학교산학***,NaN,정**,39.0,202205.0,75919.0,기타 사무지원 서비스업,...,2.0,손익계산서,anly,분석형,202002.0,M21000,매출액,59984210.0,100.00,-9.76
1,5,1058200006,20221022.0,서강대학교산학***,NaN,정**,39.0,202205.0,75919.0,기타 사무지원 서비스업,...,2.0,손익계산서,anly,분석형,202002.0,M25000,영업이익,2056670.0,3.43,-61.30

In [24]:
p1.to_csv('first_result.csv', encoding='utf-8-sig')

result_데이터생성일자 = 0
result_데이터수집일자 = 0

for i in range(len(p1)):
    if p1['데이터생성일자_x'][i] == p1['데이터생성일자_y'][i]:
        result_데이터생성일자 += 1
    elif p1['데이터수집일자_x'][i] == p1['데이터수집일자_y'][i]:
        result_데이터수집일자 += 1
    else:
        continue
        
print(f'result_데이터생성일자 : {result_데이터생성일자}, result_데이터수집일자 : {result_데이터수집일자}') # 127564 

# 데이터수집일자는 같은 것이없으므로 일단 Drop

In [25]:
p1.columns

Index(['Unnamed: 0_x', '사업자등록번호', '데이터수집일자_x', '기업명', '기업영문명', '대표자명', '종업원수',
       '종업원수기준년월', '산업분류코드', '산업분류코드설명', '기업규모', '기업형태', '업태명', '설립일',
       '상태발생일자', 'CRI등급', 'CRI기준일', '결산일자', '매출액', '영업이익', '자본총계금액', '부채총계금액',
       '자산총계금액', '작업구분코드', '데이터생성일자', 'Unnamed: 0_y', '순번', '데이터수집일자_y',
       '조사년도', '재무보고서구분코드', '재무보고서명칭', '상세구분코드', '상세구분명칭', '재무제표기준년월',
       '재무제표계정과목코드', '재무제표계정과목명', '재무제표계정과목금액', '구성비율', '증감율'],
      dtype='object')

In [26]:
p1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 127564 entries, 0 to 127563
Data columns (total 39 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0_x  127564 non-null  int64
 1   사업자등록번호       127564 non-null  int64
 2   데이터수집일자_x     127564 non-null  float64
 3   기업명           127564 non-null  object
 4   기업영문명         65759 non-null   object
 5   대표자명          127564 non-null  object
 6   종업원수          125258 non-null  float64
 7   종업원수기준년월      125183 non-null  float64
 8   산업분류코드        127564 non-null  float64
 9   산업분류코드설명      127564 non-null  object
 10  기업규모          127528 non-null  object
 11  기업형태          127564 non-null  object
 12  업태명           122129 non-null  object
 13  설립일           126372 non-null  float64
 14  상태발생일자        711 non-null     float64
 15  CRI등급         127564 non-null  object
 16  CRI기준일        67054 non-null   float64
 17  결산일자          66081 non-null   float64
 18  매출액           65668 non-null   float64
 19  영업이익          66036 non-null   float64
 20  자본총계금액        66046 non-null   float64
 21  부채총계금액        66017 non-null   float64
 22  자산총계금액        66067 non-null   float64
 23  작업구분코드        127564 non-null  object
 24  데이터생성일자       127564 non-null  int64
 25  Unnamed: 0_y  127564 non-null  int64
 26  순번            127564 non-null  int64
 27  데이터수집일자_y     127564 non-null  float64
 28  조사년도          127564 non-null  float64
 29  재무보고서구분코드     127564 non-null  float64
 30  재무보고서명칭       127564 non-null  object
 31  상세구분코드        127564 non-null  object
 32  상세구분명칭        127564 non-null  object
 33  재무제표기준년월      127564 non-null  float64
 34  재무제표계정과목코드    127564 non-null  object
 35  재무제표계정과목명     127564 non-null  object
 36  재무제표계정과목금액    127564 non-null  float64
 37  구성비율          127564 non-null  float64
 38  증감율           127564 non-null  float64
dtypes: float64(20), int64(5), object(14)
memory usage: 38.9+ MB

In [27]:
p2 = p1.merge(기업정보요약_New, on=['사업자등록번호', '대표자명', '산업분류코드', '기업규모', '기업형태', '산업분류코드설명'])
# p2.columns
# p2[['산업분류코드설명_x', '산업분류코드설명_y']]
p2.columns

Index(['Unnamed: 0_x', '사업자등록번호', '데이터수집일자_x', '기업명_x', '기업영문명', '대표자명',
       '종업원수', '종업원수기준년월', '산업분류코드', '산업분류코드설명', '기업규모', '기업형태', '업태명', '설립일',
       '상태발생일자', 'CRI등급', 'CRI기준일', '결산일자', '매출액', '영업이익', '자본총계금액', '부채총계금액',
       '자산총계금액', '작업구분코드_x', '데이터생성일자_x', 'Unnamed: 0_y', '순번', '데이터수집일자_y',
       '조사년도', '재무보고서구분코드', '재무보고서명칭', '상세구분코드', '상세구분명칭', '재무제표기준년월',
       '재무제표계정과목코드', '재무제표계정과목명', '재무제표계정과목금액', '구성비율', '증감율', 'Unnamed: 0',
       '데이터수집일자', '기업명_y', '주소', '공기업구분', '작업구분코드_y', '데이터생성일자_y'],
      dtype='object')

In [28]:
p2.to_csv('example.csv', encoding='utf-8-sig')

In [29]:
result_기업명 = 0
result_대표자명 = 0
result_산업분류코드 = 0
result_기업규모 = 0
result_기업형태 = 0
result_산업분류코드설명 = 0

for i in range(len(p1)):
    if p2['기업명_x'][i] == p2['기업명_y'][i]:
        result_기업명 += 1
    if p2['산업분류코드_x'][i] == p2['산업분류코드_y'][i]:
        result_산업분류코드 += 1
    if p2['기업규모_x'][i] == p2['기업규모_y'][i]:
        result_기업규모 += 1
    if p2['기업형태_x'][i] == p2['기업형태_y'][i]:
        result_기업형태 += 1
    if p2['산업분류코드설명_x'][i] == p2['산업분류코드설명_y'][i]:
        result_산업분류코드설명 += 1
    else:
        continue
        
print(f'result_기업명 : {result_기업명}, result_대표자명 : {result_대표자명},result_산업분류코드 : {result_산업분류코드}, result_기업규모: {result_기업규모},result_기업형태 : {result_기업형태}, result_산업분류코드설명 : {result_산업분류코드설명}  ') # 127564
# result_기업명 : 64355, result_대표자명 : 59342,result_산업분류코드 : 3351, result_기업규모: 54,result_기업형태 : 0

KeyError: '산업분류코드_x'

In [ ]:
p2['기업명_x'].value_counts()

In [ ]:
p2.columns

In [ ]:
for i in range(len(p1)):
    if p2['기업명_x'][i] == p2['기업명_y'][i]:
        result_기업명 += 1
    else:
        continue
print(f'result_기업명 : {result_기업명}')

In [ ]:
'대표자명', '산업분류코드', '기업규모', '기업형태', '산업분류코드설명'

In [ ]:
# 기업정보상세_New,재무제표정보_New,기업정보요약_New
df_ex = pd.read_csv('./example.csv')
df_ex.info() # 201706

In [ ]:
df_ex.drop(columns=['Unnamed: 20','상태발생일자'])

In [ ]:
df_ex['상태발생일자']

In [ ]:
df_ex[['자산총계금액', '부채총계금액', '자본총계금액']]

In [ ]:
df_ex.isnull().sum()

In [ ]:
df_ex.dropna()

In [ ]:
df_ex['재무보고서명칭'].value_counts()

In [ ]:
# 모든값이 anly라 drop 해도될듯
df_ex['상세구분코드'].value_counts()

In [ ]:
# 모든값이 분석형이라 drop 해도될듯
# df_ex['상세구분명칭'].value_counts()
df_ex['결산일자'].value_counts()

In [ ]:
df_ex[['CRI기준일','결산일자','매출액','영업이익','자본총계금액','부채총계금액','자산총계금액']].info()#.isnull().sum()

In [ ]:
df_ex.to_csv('example.csv', encoding='utf-8-sig')

In [ ]:
df_ex = pd.read_csv('example.csv')

In [ ]:
# CRI등급은 결측치가 따로 없음
df_ex['CRI등급'].isnull().sum()#.value_counts()

In [ ]:
df_ex.dropna()

In [ ]:
df_ex['재무보고서구분코드'].value_counts()

In [ ]:
# 대표자명은 필요없으므로 drop

# df_ex.drop(columns=['대표자명'])

In [ ]:
# 재무제표기준년월

def func(data):
    data = str(data) + '01'
    return pd.to_datetime(data)

df_ex['재주제표기준_dt'] = df_ex['재무제표기준년월'].apply(func)
df_ex['재주제표기준_year'] = df_ex['재주제표기준_dt'].dt.year
df_ex['재주제표기준_month'] = df_ex['재주제표기준_dt'].dt.month
df_ex[['재주제표기준_dt', '재주제표기준_year', '재주제표기준_month']]

In [ ]:
df_ex.to_csv('example.csv', encoding='utf-8-sig')

In [ ]:
df_ex.pivot_table(index='사업자등록번호',columns=['재주제표기준_year','재주제표기준_month'],values=['자본총계금액','부채총계금액','자산총계금액'],aggfunc='sum')

In [ ]:
df_ex.pivot_table(index='사업자등록번호',values=['자본총계금액','부채총계금액','자산총계금액'],aggfunc='sum').sort_values(by='자산총계금액', ascending=False)

In [ ]:
df_ex['자본총계금액'] - df_ex['부채총계금액']

In [ ]:
df_p1 = df_ex.pivot_table(index='사업자등록번호', values=['부채총계금액', '자본총계금액', '자산총계금액'], aggfunc='sum')
df_p1.loc[df_p1['자본총계금액'] - df_p1['부채총계금액'] > 0]

In [ ]:
# display all the  rows
pd.set_option('display.max_rows', None)

# display all the  columns
pd.set_option('display.max_columns', None)

# set width  - 100
pd.set_option('display.width', None)

# set column header -  left
pd.set_option('display.colheader_justify', 'left')

# set precision - 5
pd.set_option('display.precision', None)

# df_final

In [ ]:
import pandas as pd

In [ ]:
df_f = pd.read_csv('./final_data.csv', encoding='cp949')

In [ ]:
## 전체 프린트 함수
pd.set_option("display.max_rows", None, "display.max_columns", None)
# df_f.isnull().sum()

pd.set_option("display.max_rows", None, "display.max_columns", None)
df_f.columns

In [ ]:
df_f.info() # row = 1,571,073, column : 111

1. 당해연구종료일자 - 당해연구시작일자 
2. 총연구기간연구종료일자 - 총연구기간연구시작일자	
3.

In [ ]:
df_f['과학기술표준중분류코드'].value_counts()

result = 0
for i in df_f['과학기술표준중분류코드'].value_counts().values :
    result += i
result

In [ ]:
df_f['과학기술표준중분류명'].value_counts().values

result = 0
for i in df_f['과학기술표준중분류명'].value_counts().values :
    result += i
result

In [ ]:
df_f[['기업프로파일점수','기업프로파일등급','사업계획점수','사업계획등급','경제적책임점수','경제적책임등급','법적책임점수',
      '법적책임등급','윤리적책임점수','윤리적책임등급','자선적책임점수','자선적책임등급']].isnull().sum()#.info()

In [ ]:
df_f.isnull().sum()

In [ ]:
# 데이터를 보고 생각이 떠오르지않아 재무제표를 보면 떠오를까 검색하다보니 
# 기업 신용도 예측과, 변수설정이 보였음 . 
# notion 정리

# 자기자본,매출액,총부채,업력,주당순이익,유보액대총자산비율,금융비용부담률,금융비용대총비용비율,
# 고정자산구성비율,재고자산대유동자산비율,
#단기차입금대총차입금비율,현금흐름대총자본비율,
#(영업활동으로인한현금흐름-현금배당)/(고정자산+운전자본),1인당매출액

In [ ]:
df_tb_bs_biz_i = pd.read_csv('C:/Users/DMC CONET/Downloads/분석유료데이터_샘플/tb_bs_biz_i.txt', sep='', header=None,names=['사업자등록번호', '데이터수집일자', '순번', '조사년도', '매출액', '산업분류코드', '기준년월', '체감전망점수', '고용전망점수',
'사업화기반구축수준등급', '사업화기반구축수준점수', '작업구분코드', '데이터생성일자', '연계처리상태코드', '연계처리일자'])

In [ ]:
df_tb_bs_biz_i.to_csv('./df_tb_bs_biz_i_사업화보유역량.csv', encoding='utf-8-sig')

In [ ]:
df_tb_bs_hr_i = pd.read_csv('C:/Users/DMC CONET/Downloads/분석유료데이터_샘플/tb_bs_hr_i.txt', sep='', header=None,names=['사업자등록번호','데이터수집일자','순번','직위코드','직위명','담당업무명','학력명세',
'주요경력사항','기준년월','종사자수','입사자수','퇴사자수','작업구분코드','데이터생성일자','연계처리상태코드','연계처리일자'])
df_tb_bs_hr_i

In [ ]:
df_tb_bs_hr_i.to_csv('./df_tb_bs_hr_i_인적자원보유역량.csv', encoding='utf-8-sig')

In [ ]:
'사업자등록번호','데이터수집일자','순번','직위코드','직위명','담당업무명','학력명세',
'주요경력사항','기준년월','종사자수','입사자수','퇴사자수','작업구분코드','데이터생성일자','연계처리상태코드','연계처리일자'

In [ ]:
'사업자등록번호', '데이터수집일자', '순번', '조사년도', '매출액', '산업분류코드', '기준년월', '체감전망점수', '고용전망점수',
'사업화기반구축수준등급', '사업화기반구축수준점수', '작업구분코드', '데이터생성일자', '연계처리상태코드', '연계처리일자'

In [ ]:
# final_data_221123

In [ ]:
df_ff = pd.read_csv('final_data_221123.csv', encoding='cp949')
df_ff

In [ ]:
df_ff.corr()#.columns#.isnull().sum()

In [ ]:
col_list = df_ff.columns.tolist()

In [ ]:
len(col_list)

In [ ]:
pd.set_option("display.max_rows", None, "display.max_columns", None)
a = df_ff['사업자등록번호'].value_counts().values

# datafram row 갯수는 1,657,425, 중복제거하면 115946

len(a)

# result = 0
# for i in a:
#     result += i
# result

# New_data

In [ ]:
# csv file
RND실적 = pd.read_csv('C:/Users/DMC CONET/selected/RND실적.csv', encoding = 'cp949',  low_memory = False)
기술기반보유역량 = pd.read_csv('C:/Users/DMC CONET/selected/기술기반보유역량.csv', encoding = 'cp949',  low_memory = False)
기업정보요약 = pd.read_csv('C:/Users/DMC CONET/selected/기업정보요약.csv', encoding = 'cp949',  low_memory = False)
신용등급정보 = pd.read_csv('C:/Users/DMC CONET/selected/신용등급정보.csv', encoding = 'cp949',  low_memory = False)
재무제표정보 = pd.read_csv('C:/Users/DMC CONET/selected/재무제표정보.csv', encoding = 'cp949',  low_memory = False)


# txt file
RND정보 = pd.read_csv('C:/Users/DMC CONET/selected/RND정보.txt',sep='',  low_memory = False, names=['사업자등록번호', '데이터수집일자', '최종연구개발점수', '최종연구개발등급', '연구개발투자점수', '인적자원구성원등급',
 '연구개발기술지원점수', '인적자원복지등급', '연구개발기술가치점수', '인적자원개발등급', '연구개발집약도점수',
 '연구개발참여인력점수', '연구개발연구소점수', '연구개발과제점수', '연구개발논문점수', '연구개발특허점수',
 '연구개발제품시장성점수', '연구개발제품혁신성점수', '작업구분코드', '데이터생성일자',
 '연계처리상태코드', '연계처리일자'])

기술경쟁력분석 = pd.read_csv('C:/Users/DMC CONET/selected/기술경쟁력분석.txt',sep='',  low_memory = False, names =['사업자등록번호', '데이터수집일자', '조사년도',
                     '분석기업매출액', '산업평균매출액', '분석기업매출액증감률',
                     '산업평균매출액증감률', '기업연구개발액', '평균연구개발액', 
                     '기업연구개발액증감률', '평균연구개발액증감률', '기업특허실용신안출원건수',
                     '평균특허실용신안출원건수', '기업특허실용신안생산력금액', '평균특허실용신안생산력금액',
                     '작업구분코드', '데이터생성일자', '연계처리상태코드', '연계처리일자'])

# 분석 전 데이터라 drop
# 기업정보요약 = pd.read_csv('C:/Users/DMC CONET/selected/기업정보요약.txt',sep='',  low_memory = False)

평판정보 = pd.read_csv('C:/Users/DMC CONET/selected/평판정보.txt',sep='',  low_memory = False, names=['사업자등록번호', '데이터수집일자', '최종평판점수', '최종평판등급', '일반평판점수', '일반평판등급', '미래평판점수', '미래평판등급', '사회적책임점수', '사회적책임등급',
                    '대중평판점수', '대중평판등급', '고용평판점수', '고용평판등급',
                    '신용평판점수', '신용평판등급', '기업프로파일점수', '기업프로파일등급',
                    '사업계획점수', '사업계획등급', '경제적책임점수', '경제적책임등급',
                    '법적책임점수', '법적책임등급', '윤리적책임점수', '윤리적책임등급',
                    '자선적책임점수', '자선적책임등급', '작업구분코드', '데이터생성일자',
                    '연계처리상태코드', '연계처리일자'])

## RND실적

In [ ]:
RND실적.columns#.head()

## 기술기반보유역량

In [ ]:
기술기반보유역량.columns#.head()

In [ ]:
기술기반보유역량.head()

In [ ]:
기술기반보유역량['정부투자연구비합계'].isnull().sum()#.value_counts()#.columns

In [ ]:
기술기반보유역량['과제건수'].value_counts() #null_value = 244976
기술기반보유역량.pivot_table(index='사업자등록번호',columns='조사년도', values=['연구비합계','정부투자연구비합계' ], aggfunc='sum')

## 신용등급정보

In [ ]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [ ]:
신용등급정보['CRI등급'].value_counts()#.head()

# 방향 
# 신용등급정보에서 cri등급 기준으로 합쳐야 한다.
# 업종명이 살아있는 형태로 merge
# 신용정보에선 업종명이 거의 없다. 그래서 RnD쪽에서 merge 하면 뭔가 있을듯.

신용등급정보.columns
신용등급정보['업종']
신용등급정보.pivot_table(index='업종명', values='CRI등급')
신용등급정보['CRI등급'].value_counts()
# 신용등급정보.columns



def func(data): # CRI등급 숫자로 맵핑
    
    if data == 'A1':
        return 1
    elif data == 'A2':
        return 2
    elif data == 'A3':
        return 3
    elif data == 'B1':
        return 4
    elif data == 'B2':
        return 5
    elif data == 'B3':
        return 6
    elif data == 'C1':
        return 7
    elif data == 'C2':
        return 8
    elif data == 'C3':
        return 9
    elif data == 'D':
        return 10
    elif data == 'NG':
        return 11
    else:
        return data
    

신용등급정보['CRI등급_num'] = 신용등급정보['CRI등급'].apply(func)
신용등급정보['CRI등급_num'].mean()
신용등급정보['CRI등급_num']
신용등급정보['CRI등급_num'].value_counts()
신용등급정보['CRI등급_num']
# 신용등급정보.pivot_table(index='업종명', values='CRI등급_num', aggfunc='mean') # 업종당 평균 신용등급
신용등급정보['기업규모명'].isnull().sum()#.value_counts()
신용등급정보.pivot_table(index='기업규모명', values='CRI등급_num', aggfunc='mean') # 기업규모당 평균 신용등급
등급설명_info = 신용등급정보['CRI등급설명'].value_counts().index.tolist()
# 신용등급정보.pivot_table(index='CRI등급', values='CRI등급설명')

for i in 등급설명_info:
    print(i.split(' '))

## 재무제표정보

In [ ]:
재무제표정보.columns#.head()

In [ ]:
재무제표정보.info() # row=86352 , column = 19

In [ ]:
재무제표정보.isnull().sum()

#row=86352 , column = 19

#null values

# Unnamed: 0        0
# 사업자등록번호           0
# 순번                0
# 데이터수집일자           0
# 조사년도              0
# 재무보고서구분코드         0
# 재무보고서명칭           0
# 상세구분코드        15823
# 상세구분명칭        15823
# 재무제표기준년월      11736
# 재무제표계정과목코드    11736
# 재무제표계정과목명     11736
# 재무제표계정과목금액    27559
# 구성비율          31307
# 증감율           31247
# 작업구분코드            0
# 데이터생성일자           0
# 연계처리상태코드      86352
# 연계처리일자        86352

In [ ]:
재무제표정보.columns

In [ ]:
재무제표정보.drop(columns=['연계처리상태코드', '연계처리일자']) #모두 null값이라 drop

In [ ]:
재무제표정보['재무제표기준년월'].astype

In [ ]:
# def func(data):
#     data = str(data)[:-2]
#     return pd.to_datetime(data + '01')
# #     return pd.to_datetime(data)

# 재무제표정보['재무제표기준년월'].apply(func)


# 재무제표기준년월

def func(data):
    if str(data) == str:
        data = str(data) + '01'
        return pd.to_datetime(data)
    else:
        return 0

재무제표정보['재주제표기준_dt'] = 재무제표정보['재무제표기준년월'].apply(func)
# 재무제표정보['재주제표기준_year'] = 재무제표정보['재주제표기준_dt'].dt.year
# 재무제표정보['재주제표기준_month'] = 재무제표정보['재주제표기준_dt'].dt.month
# 재무제표정보[['재주제표기준_dt', '재주제표기준_year', '재주제표기준_month']]
재무제표정보['재주제표기준_dt']

## RND정보

In [ ]:
RND정보.columns#.head()

In [ ]:
RND정보.info() #row=320455 , column = 22

#null values

In [ ]:

RND정보['최종연구개발등급'].value_counts()
RND정보['최종연구개발등급'].isnull().sum()
RND정보.columns

In [ ]:
RND정보.isnull().sum()

#null values

# 사업자등록번호             0
# 데이터수집일자             0
# 최종연구개발점수       290389
# 최종연구개발등급       290389
# 연구개발투자점수       290389
# 인적자원구성원등급      290389
# 연구개발기술지원점수          0
# 인적자원복지등급       290389
# 연구개발기술가치점수     280254
# 인적자원개발등급       290389
# 연구개발집약도점수      158090
# 연구개발참여인력점수     158090
# 연구개발연구소점수      284052
# 연구개발과제점수       284143
# 연구개발논문점수       290389
# 연구개발특허점수       290389
# 연구개발제품시장성점수    290389
# 연구개발제품혁신성점수    290389
# 작업구분코드              0
# 데이터생성일자             0
# 연계처리상태코드            0
# 연계처리일자         320455

## 기술경쟁력분석

In [ ]:
기술경쟁력분석.columns#.head()

In [ ]:
기술경쟁력분석.info() # row = 330000, column = 19

In [ ]:
기술경쟁력분석.isnull().sum()
# 분석기업매출액, 산업평균매출액, 분석기업매출액증감률, 업연구개발액 등
# 증감률이나 매출에 관한 널값이 너무 많다.

#null values

# 사업자등록번호               0
# 데이터수집일자               0
# 조사년도                  0
# 분석기업매출액          304783
# 산업평균매출액          312585
# 분석기업매출액증감률       309134
# 산업평균매출액증감률       105368
# 기업연구개발액          326282
# 평균연구개발액          161526
# 기업연구개발액증감률       327419
# 평균연구개발액증감률       161526
# 기업특허실용신안출원건수     308321
# 평균특허실용신안출원건수     318398
# 기업특허실용신안생산력금액    328549
# 평균특허실용신안생산력금액    318398
# 작업구분코드                0
# 데이터생성일자               0
# 연계처리상태코드              0
# 연계처리일자           330000

## 평판정보

In [ ]:
평판정보.info() # row = 522903 , column = 32

In [ ]:

평판정보.isnull().sum()

#row = 522903 , column = 32
# null values

# 사업자등록번호          0
# 데이터수집일자          0
# 최종평판점수      507915
# 최종평판등급      507915
# 일반평판점수      429590
# 일반평판등급      507915
# 미래평판점수      429590
# 미래평판등급      507915
# 사회적책임점수      78714
# 사회적책임등급     507915
# 대중평판점수       78714
# 대중평판등급      507915
# 고용평판점수      507915
# 고용평판등급      507915
# 신용평판점수      507915
# 신용평판등급      507915
# 기업프로파일점수     78714
# 기업프로파일등급    507915
# 사업계획점수       78714
# 사업계획등급      507915
# 경제적책임점수      78714
# 경제적책임등급     507915
# 법적책임점수      507915
# 법적책임등급      507915
# 윤리적책임점수     507915
# 윤리적책임등급     507915
# 자선적책임점수     507915
# 자선적책임등급     507915
# 작업구분코드           0
# 데이터생성일자          0
# 연계처리상태코드         0
# 연계처리일자      522903

In [ ]:
평판정보.columns#.head()

In [ ]:
평판정보

In [ ]:
평판정보['신용평판등급'].value_counts()

**신용등급정보, 평판정보 merge**

In [ ]:

p1 = pd.merge(신용등급정보, 평판정보, on='사업자등록번호', how='inner')
# p1[['신용평판등급', 'CRI등급']]
p1.columns

In [ ]:
신용등급정보['기업명'].value_counts()#.columns

In [ ]:
# 신용등급정보, seok_data

df = pd.read_csv('소프트웨어개발.csv', encoding='cp949')


same_count = 0
df['BIZ_NO']
신용등급정보['사업자등록번호']

for i in df[['BIZ_NO']]:
    for j in 신용등급정보[['사업자등록번호']]:
        if i == j:
            same_count+= 1
print(f'맞는갯수 : {same_count}')

In [ ]:
기업정보요약['기업규모'].value_counts()

In [ ]:
신용등급정보['기업규모명'].value_counts()#.isnull().sum()#

In [ ]:


# 신용등급정보 '기업규모명'과 기업정보요약 '기업규모'가 같은 column

pd.merge(신용등급정보, 기업정보요약, left_on=['사업자등록번호', '기업규모명','데이터수집일자'],
        right_on=['사업자등록번호', '기업규모','데이터수집일자'], how='outer')

In [ ]:
재무제표정보['사업자등록번호'].unique

In [ ]:
import pandas as pd

기업정보요약 = pd.read_csv('C:/Users/DMC CONET/selected/기업정보요약.csv', encoding = 'cp949',  low_memory = False)

신용등급정보 = pd.read_csv('C:/Users/DMC CONET/selected/신용등급정보.csv', encoding = 'cp949',  low_memory = False)

재무제표정보 = pd.read_csv('C:/Users/DMC CONET/selected/재무제표정보.csv', encoding = 'cp949',  low_memory = False)

In [ ]:
기업정보요약.columns#.head()

In [ ]:
신용등급정보.columns

In [ ]:
재무제표정보.columns

In [ ]:
기업정보상세 = pd.read_csv('./기업정보상세.csv')# row = 18648 , column = 34 
기업정보상세['휴폐업구분'].value_counts()
# 기업정보상세.info() 
cond1 = ((기업정보상세['휴폐업구분'] == '폐업') & (기업정보상세['휴폐업구분'] =='페업취소')) # 폐업했다가 폐업취소한 기업은 x
cond1 = (기업정보상세['휴폐업구분'] == '폐업')
기업정보상세 = 기업정보상세.loc[cond1]
기업정보상세

In [ ]:
기업정보상세