In [5]:
import pandas as pd
import glob
import os
from datetime import datetime, timedelta

In [21]:
weather_path = 'C:/Users/DMC CONET/Desktop/초미세먼지프로젝트/ty_data/weather_기상청/'

In [22]:
pwd

'C:\\Users\\DMC CONET'

In [23]:
def searchdata(directory, output=[]):
    filelist = os.listdir(directory)
#     print(filelist)

    return filelist
    
weather_list = searchdata(os.path.join(os.getcwd(), weather_path))
weather_list

['2014.csv',
 '2015.csv',
 '2016.csv',
 '2017.csv',
 '2018.csv',
 '2019.csv',
 '2020.csv',
 '2021.csv',
 '2022.csv']

In [26]:
w_2019 = pd.read_csv(weather_path + weather_list[-4], encoding='cp949')
w_2019.columns

Index(['지점', '지점명', '일시', '기온(°C)', '기온 QC플래그', '강수량(mm)', '강수량 QC플래그',
       '풍속(m/s)', '풍속 QC플래그', '풍향(16방위)', '풍향 QC플래그', '습도(%)', '습도 QC플래그',
       '증기압(hPa)', '이슬점온도(°C)', '현지기압(hPa)', '현지기압 QC플래그', '해면기압(hPa)',
       '해면기압 QC플래그', '일조(hr)', '일조 QC플래그', '일사(MJ/m2)', '일사 QC플래그', '적설(cm)',
       '3시간신적설(cm)', '전운량(10분위)', '중하층운량(10분위)', '운형(운형약어)', '최저운고(100m )',
       '시정(10m)', '지면상태(지면상태코드)', '현상번호(국내식)', '지면온도(°C)', '지면온도 QC플래그',
       '5cm 지중온도(°C)', '10cm 지중온도(°C)', '20cm 지중온도(°C)', '30cm 지중온도(°C)'],
      dtype='object')

In [37]:
allData = [] # 읽어 들인 csv파일 내용을 저장할 빈 리스트를 하나 만든다

for file in range(1, len(weather_list)):
    df = pd.read_csv(weather_path + weather_list[file], encoding='cp949')
    allData.append(df) # 빈 리스트에 읽어 들인 내용을 추가한다

df_air = pd.concat(allData, axis=0, ignore_index=True) # concat함수를 이용해서 리스트의 내용을 병합
# axis=0은 수직으로 병합함. axis=1은 수평. ignore_index=True는 인데스 값이 기존 순서를 무시하고 순서대로 정렬되도록 한다.

df_air = df_air[['지점', '지점명', '일시', '기온(°C)', '강수량(mm)', '풍속(m/s)', '풍향(16방위)', '습도(%)', '증기압(hPa)', '이슬점온도(°C)', '현지기압(hPa)',
       '해면기압(hPa)', '지면온도(°C)', '5cm 지중온도(°C)', '10cm 지중온도(°C)', '20cm 지중온도(°C)', '30cm 지중온도(°C)']] 
df_air # 78399 rows × 17 columns

,지점,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,108,서울,2015-01-01 01:00,-7.4,NaN,4.7,290.0,33.0,1.2,-20.9,1011.8,1023.0,-4.5,-3.2,-1.3,0.1,0.8
1,108,서울,2015-01-01 02:00,-8.0,NaN,4.5,290.0,35.0,1.2,-20.8,1011.7,1022.9,-5.1,-3.7,-1.7,0.0,0.7
2,108,서울,2015-01-01 03:00,-8.4,NaN,3.8,290.0,37.0,1.2,-20.5,1012.1,1023.3,-5.5,-4.0,-1.9,0.0,0.7
3,108,서울,2015-01-01 04:00,-8.8,NaN,4.9,290.0,35.0,1.1,-21.5,1012.3,1023.6,-5.9,-4.4,-2.2,0.0,0.7
4,108,서울,2015-01-01 05:00,-9.1,NaN,5.7,290.0,35.0,1.1,-21.7,1011.8,1023.1,-6.3,-4.7,-2.4,0.0,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69635,108,서울,2022-12-11 19:00,2.5,NaN,1.8,290.0,49.0,3.6,-7.1,1013.0,1023.8,-0.2,3.3,3.1,3.4,4.5
69636,108,서울,2022-12-11 20:00,2.1,NaN,0.9,70.0,50.0,3.6,-7.2,1013.3,1024.1,-0.4,3.0,3.0,3.5,4.5
69637,108,서울,2022-12-11 21:00,0.9,NaN,2.1,50.0,53.0,3.5,-7.6,1013.4,1024.2,-0.6,2.8,2.9,3.4,4.6
69638,108,서울,2022-12-11 22:00,0.5,NaN,1.1,320.0,57.0,3.6,-7.0,1013.6,1024.5,-0.9,2.7,2.8,3.4,4.6
69639,108,서울,2022-12-11 23:00,0.1,NaN,0.6,270.0,59.0,3.6,-6.9,1013.5,1024.4,-1.1,2.5,2.7,3.4,4.6

In [38]:
# df_air.to_csv(weather_path + 'weather_2014_2022.csv', encoding='utf-8-sig')